.main-form {
	display: flex;
	flex-direction: column;
	background-color: white;
	
	margin-top: 10%;
	height: 500px;
	width: 80%;	
	margin-left: 100px;
	justify-content: space-around;
	}
 
div {
	flex-direction: row;
}

div form div div label {
	font-size: 80px;
}

h1 {	
	color:white;
}

.boton{
	color: black;
}