.contenedor_principal {
	display: -webkit-box;
  	display: -webkit-flex;
  	display: -moz-box;
  	display: -ms-flexbox;
	display: flex;
	flex-direction: column;
	background-color: white;
	border-radius: 10px;
	margin-top: 1%;
	height: 605px;
	width: 60%;	
	margin-left: 20%;
	margin-right: 20%;
	padding-right: 0px;
	padding-left: 0px;
	}

#fechas_citaG {
	margin-top: 2%;
	height: 33%;
}

#div_motivos {
	height: 33%;
}

#div_boton {
	margin-top:0%;
	height: 22%;
	width: 100%;
}
 
#div_nuevo_motivo {
	width: 45%;
	margin-top: 4%;
	float: right;
}

.container-titulo {
	display: -webkit-box;
  	display: -webkit-flex;
  	display: -moz-box;
  	display: -ms-flexbox;
	display: flex;
	border-radius: 10px;
	background-color: #D6D5E1;
	height: 12%;
	width: 100%;
	align-items: center;
	justify-content: center;
	font-family: 'Nunito', sans-serif;	
	font-size: 30px;
	color:black;
}

.form_add_cita {
	height: 700px;
	justify-content: space-around;
}

/*Titulo pagina*/
#titulo-pagina {
  	font-family: 'Nunito', sans-serif;	
	margin-top: 1%;
	font-size: 35px;
	color:white;
	text-align: center;
}

/*Inputs*/

#inputfecha1{
	font-family: 'Nunito', sans-serif;
	font-size: 17px;
	width: 15%;
	height: 20%;
	margin-left: 2%;
	margin-top: 8%;
	border-radius: 10px;
	padding: 6px;
	border: 3px solid #40444745;
}

#inputhoraini{
	font-size: 17px;
	width: 15%;
	height: 20%;
	margin-left: 2%;
	margin-top: 8%;
	border-radius: 10px;
	padding: 6px;
	border: 3px solid #40444745;
}

#inputServicio {
	font-size: 17px;
	width: 160px;
	height: 40px;
	margin-left: 40px;
	border-radius: 10px;
	padding: 6px;
	border: 3px solid #40444745;
}

#chkTodoDia {
	margin-left: 2%;
	margin-top: 8%;
	height: 20px;
	width: 20px;
}

#inputMotivos{
	font-family: 'Nunito', sans-serif;
	font-size: 15px;
	width: 30%;
	height: 40px;
	margin-left: 10px;
	margin-top: 7%;
	border-radius: 10px;
	padding: 6px;
	border: 3px solid #40444745;
}

#selectPacientes{
	font-family: 'Nunito', sans-serif;
	font-size: 15px;
	width: 35%;
	height: 40px;
	margin-left: 10px;
	margin-top: 7%;
	border-radius: 10px;
	padding: 6px;
	border: 3px solid #40444745;
}


#inputMotivo {
	font-family: 'Nunito', sans-serif;
	font-size: 15px;
	width: 60%;
	height: 40px;
	margin-left: 10px;
	margin-top: 7%;
	text-transform: uppercase;
	border-radius: 10px;
	padding: 6px;
	border: 3px solid #40444745;
}

/*Labels*/

#lblFechaA {
	font-family: 'Nunito', sans-serif;
	font-size: 23px;
	margin-left: 10%;
}

#lblHoraInicio{
	margin-left: 5%;	
	font-family: 'Nunito', sans-serif;
	font-size: 23px;
}

#lblTodoDia{
	margin-left: 5%;	
	font-family: 'Nunito', sans-serif;
	font-size: 23px;
}

#lblMotivos{
	font-family: 'Nunito', sans-serif;
	font-size: 23px;
	margin-left: 5%;
}

#lblPacientes{
	font-family: 'Nunito', sans-serif;
	font-size: 23px;
	margin-left: 30%;
}

#lblNuevaCita{
	font-family: 'Nunito', sans-serif;
	font-size: 23px;
	margin-left: 10%;
}

/*Botones*/

.botonAgregar {
 	font-family: 'Nunito', sans-serif;
	margin-top: -5%;
	text-decoration: none;
    padding: 5px;
    font-size: 20px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    color: #ffffff;
    background-color: #527486;
    border-radius: 6px;
    border: 1px solid #0016b0;
    margin-bottom: 1%;
}

.botonAtrasCitasG {
	font-family: 'Nunito', sans-serif;
	text-decoration: none;
    padding: 5px;
    font-size: 20px;
    margin-top: 2%;
    color: #ffffff;
    background-color: #527486;
    border-radius: 6px;
    border: 1px solid #0016b0;
    width: 5%;
}

#div_atrasC{
	height: 50px;
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: row;
	align-content: center;
	align-items: center;
	justify-content: center;
}

#btnAddMotivo {
	text-decoration: none;
    padding: 2px;
    font-size: 20px;
    width: 40px;
    height: 40px;
    color: #ffffff;
    background-color: #527486;
    border-radius: 5px;
    border: 1px solid #0016b0;
}


@media(min-width: 1100px) and (max-width: 1366px){
.contenedor_principal {
	height: 70%;
	width: 70%;	
	margin-left: 15%;
	margin-right: 20%;	
}
/*Titulo pagina*/
#titulo-pagina {
	font-size: 27px;
}

#div_nuevo_motivo {
	width: 45%;
	margin-top: 6%;
	float: right;
}

#fechas_citaG {
	margin-top: 5%;
	height: 33%;
}

/*Inputs*/

#inputfecha1{
	font-family: 'Nunito', sans-serif;
	font-size: 17px;
	width: 20%;
	height: 15%;
	margin-left: 0%;
	margin-top: 8%;
}

#inputhoraini{
	font-size: 17px;
	width: 17%;
	height: 15%;
	margin-left: 2%;
	margin-top: 8%;
}

#inputServicio {
	font-size: 17px;
	width: 160px;
	height: 40px;
	margin-left: 40px;
}

#chkTodoDia {
	margin-left: 2%;
	margin-top: 8%;
}

#inputMotivos{
	font-family: 'Nunito', sans-serif;
	font-size: 15px;
	width: 30%;
	height: 40px;
	margin-left: 10px;
	margin-top: 7%;
}

#selectPacientes{
	font-family: 'Nunito', sans-serif;
	font-size: 15px;
	width: 35%;
	height: 40px;
	margin-left: 5px;
	margin-top: 7%;
}


#inputMotivo {
	font-size: 15px;
	width: 60%;
	height: 40px;
	margin-left: 10px;
	margin-top: 8%;
	text-transform: uppercase;
}

/*Labels*/

#lblFechaA {
	font-size: 21px;
	margin-left: 6%;
}

#lblHoraInicio{
	margin-left: 5%;	
	font-size: 21px;
}

#lblTodoDia{
	margin-left: 5%;	
	font-size: 21px;
}

#lblMotivos{
	font-size: 21px;
	margin-left: 5%;
}

#lblPacientes{
	font-size: 21px;
	margin-left: 27%;
}

#lblNuevaCita{
	font-size: 21px;
	margin-left: 2px;
}
 
#div_nuevo_motivo {
	width: 50%;
	margin-top: 3%;
	float: right;
}

/*Botones*/

.botonAgregar {
	margin-top: 0%;
    padding: 10px;
    font-size: 20px;
}

#btnAddMotivo {
	margin-left: 1%;
    padding: 5px;
    font-size: 18px;
    width: 40px;
    height: 40px;
	}

.botonAtrasCitasG {
    font-size: 20px;
    margin-top: 2%;
    width: 10%;
}
}


@media(min-width: 1024px) and (max-width: 1099px){
.contenedor_principal {
	height: 70%;
	width: 80%;	
	margin-left: 10%;
	margin-right: 20%;	
}
/*Titulo pagina*/
#titulo-pagina {
	font-size: 27px;
}

#div_nuevo_motivo {
	width: 45%;
	margin-top: 6%;
	float: right;
}

#fechas_citaG {
	margin-top: 5%;
	height: 33%;
}

/*Inputs*/

#inputfecha1{
	font-family: 'Nunito', sans-serif;
	font-size: 17px;
	width: 20%;
	height: 15%;
	margin-left: 1%;
	margin-top: 8%;
}

#inputhoraini{
	font-size: 17px;
	width: 15%;
	height: 15%;
	margin-left: 2%;
	margin-top: 8%;
}

#inputServicio {
	font-size: 17px;
	width: 160px;
	height: 40px;
	margin-left: 40px;
}

#chkTodoDia {
	margin-left: 2%;
	margin-top: 9.5%;
}

#inputMotivos{
	font-size: 15px;
	width: 30%;
	height: 40px;
	margin-left: 10px;
	margin-top: 7%;
}

#selectPacientes{
	font-size: 15px;
	width: 35%;
	height: 40px;
	margin-left: 5px;
	margin-top: 7%;
}


#inputMotivo {
	font-size: 15px;
	width: 60%;
	height: 40px;
	margin-left: 10px;
	margin-top: 8%;
}

/*Labels*/

#lblFechaA {
	font-size: 21px;
	margin-left: 8%;
}

#lblHoraInicio{
	margin-left: 4%;	
	font-size: 21px;
}

#lblTodoDia{
	margin-left: 5%;	
	font-size: 21px;
}

#lblMotivos{
	font-size: 21px;
	margin-left: 5%;
}

#lblPacientes{
	font-size: 21px;
	margin-left: 27%;
}

#lblNuevaCita{
	font-size: 21px;
	margin-left: 5px;
}
 
#div_nuevo_motivo {
	width: 50%;
	margin-top: 3%;
	float: right;
}

/*Botones*/

.botonAgregar {
	margin-top: 0%;
    padding: 10px;
    font-size: 20px;
}

#btnAddMotivo {
	margin-left: 1%;
    padding: 5px;
    font-size: 18px;
    width: 40px;
    height: 40px;
	}

.botonAtrasCitasG {
    font-size: 20px;
    margin-top: 2%;
    width: 10%;
}
}

@media(min-width: 768px) and (max-width: 1023px){
.contenedor_principal {
	width: 80%;
	margin-top: 5%;	
	margin-left: 10%;
}
/*Titulo pagina*/
#titulo-pagina {
	margin-top: 5%;
	font-size: 25px;
}

/*Inputs*/

#inputfecha1{
	font-size: 15px;
	width: 25%;
	height: 20%;
	margin-left: 0%;
	margin-top: 8%;
}

#inputhoraini{
	font-size: 15px;
	width: 17%;
	height: 20%;
	margin-left: 1%;
	margin-top: 8%;
}

#chkTodoDia {
	margin-left: 2%;
	margin-top: 10%;
}

#inputMotivos{
	font-size: 15px;
	width: 55%;
	height: 17%;
	padding: 2px;
	margin-left: 10px;
	margin-top: 7%;
}

#selectPacientes{
	font-size: 15px;
	width: 40%;
	height: 35px;
	padding: 4px;
	margin-left: 5px;
	margin-top: 7%;
}


#inputMotivo {
	font-size: 15px;
	padding: 4px;
	width: 40%;
	height: 35%;
	margin-left: 2%;
	margin-top: 8%;
}

/*Labels*/

#lblFechaA {
	font-size: 18px;
	margin-left: 2%;
}

#lblHoraInicio{
	margin-left: 3%;	
	font-size: 18px;
}

#lblTodoDia{
	margin-left: 4%;	
	font-size: 18px;
}

#lblMotivos{
	font-size: 18px;
	margin-left: 15%;
}

#lblPacientes{
	font-size: 18px;
	margin-left: 23%;
}

#lblNuevaCita{
	font-size: 18px;
	margin-left: 25%;
}
 
#fechas_citaG {
	margin-top: 5%;
	width: 100%;
	height: 25%;
}

#div_motivos {
	margin-top: -5%;
	height: 35%;
	width: 100%;
}

#div_boton {
	margin-top: 5%;
	height: 10%;
}

#div_nuevo_motivo {
	width: 100%;
	margin-top: 10%;
	height: 45%;
	float: center;
}

/*Botones*/

.botonAgregar {
	margin-top: 10%;
    padding: 10px;
    font-size: 18px;
}

#btnAddMotivo {
	margin-left: 1%;
    padding: 5px;
    font-size: 18px;
    width: 40px;
    height: 40px;
	}

.botonAtrasCitasG {
    font-size: 20px;
    margin-top: 2%;
    width: 10%;
}
}

@media(min-width: 568px) and (max-width: 767px){
.contenedor_principal {
	width: 80%;
	margin-top: 5%;	
	margin-left: 10%;
}
/*Titulo pagina*/
#titulo-pagina {
	margin-top: 5%;
	font-size: 25px;
}

/*Inputs*/

#inputfecha1{
	font-size: 15px;
	width: 35%;
	height: 20%;
	margin-left: 0%;
	margin-top: 8%;
}

#inputhoraini{
	font-size: 15px;
	width: 25%;
	height: 20%;
	margin-left: 1%;
	margin-top: 8%;
}

#chkTodoDia {
	margin-left: 2%;
	margin-top: 15%;
	color: red;
}

#inputMotivos{
	font-size: 13px;
	width: 70%;
	padding: 4px;
	height: 15%;
	margin-left: 10px;
	margin-top: 20%;
}

#selectPacientes{
	font-size: 13px;
	width: 55%;
	height: 35px;
	margin-left: 5px;
	margin-top: 7%;
}


#inputMotivo {
	font-size: 15px;
	width: 60%;
	height: 35%;
	padding: 0;
	margin-left: 2%;
	margin-top: 8%;
}

/*Labels*/

#lblFechaA {
	font-size: 18px;
	margin-left: 2%;
}

#lblHoraInicio{
	margin-left: 3%;	
	font-size: 18px;
}

#lblTodoDia{
	margin-left: 40%;	
	font-size: 18px;
}

#lblMotivos{
	font-size: 18px;
	margin-left: 7%;
}

#lblPacientes{
	font-size: 18px;
	margin-left: 15%;
}

#lblNuevaCita{
	font-size: 18px;
	margin-left: 12%;
}
 
#fechas_citaG {
	margin-top: 5%;
	width: 100%;
	height: 25%;
}

#div_motivos {
	margin-top: -5%;
	height: 35%;
	width: 100%;
}

#div_boton {
	margin-top: 15%;
	height: 15%;
}

#div_nuevo_motivo {
	width: 100%;
	margin-top: 10%;
	height: 45%;
	float: center;
}

.botonAtrasCitasG {
    font-size: 20px;
    margin-top: 2%;
    width: 15%;
}

/*Botones*/

.botonAgregar {
	margin-top: 10%;
    padding: 6px;
    font-size: 18px;
}

#btnAddMotivo {
	margin-left: 1%;
    padding: 5px;
    margin-top: 4%;
    font-size: 15px;
    width: 30px;
    height: 30px;
	}
}

@media(min-width: 415px) and (max-width: 567px){
.contenedor_principal {
	width: 80%;
	margin-top: 0%;	
	margin-left: 10%;
}
/*Titulo pagina*/
#titulo-pagina {
	margin-top: 5%;
	font-size: 21px;
}

/*Inputs*/

#inputfecha1{
	font-size: 12px;
	width: 55%;
	height: 35px;
	margin-left: 0%;
	margin-top: 8%;
}

#inputhoraini{
	font-size: 12px;
	width: 30%;
	height: 20%;
	margin-left: 1%;
	margin-top: 20%;
}

#chkTodoDia {
	margin-left: 2%;
	margin-top: 15%;
	height: 15px;
	width: 15px;
}

#inputMotivos{
	font-size: 12px;
	width: 70%;
	height: 35px;
	margin-left: 10px;
	margin-top: 40%;
}

#selectPacientes{
	font-size: 12px;
	width: 60%;
	height: 35px;
	margin-left: 5px;
	margin-top: 5%;
}


#inputMotivo {
	font-size: 12px;
	width: 60%;
	height: 35%;
	padding: 2px;
	margin-left: 2%;
	margin-top: 5%;
}

/*Labels*/

#lblFechaA {
	font-size: 15px;
	margin-left: 15%;
}

#lblHoraInicio{
	margin-left: 22%;	
	font-size: 15px;
}

#lblTodoDia{
	margin-left: 35%;
	margin-top: -1%;	
	font-size: 15px;
}

#lblMotivos{
	font-size: 15px;
	margin-left: 5%;
}

#lblPacientes{
	font-size: 15px;
	margin-left: 10%;
}

#lblNuevaCita{
	font-size: 15px;
	margin-left: 10%;
}
 
#fechas_citaG {
	margin-top: 5%;
	width: 100%;
	height: 25%;
}

#div_motivos {
	margin-top: -5%;
	height: 35%;
	width: 100%;
}

#div_boton {
	margin-top: 15%;
	height: 15%;
}

#div_nuevo_motivo {
	width: 100%;
	margin-top: 10%;
	height: 45%;
	float: center;
}

/*Botones*/

.botonAgregar {
	margin-top: 0%;
    padding: 5px;
    font-size: 15px;
}


.botonAtrasCitasG {
    font-size: 15px;
    margin-top: 2%;
    width: 15%;
}

#btnAddMotivo {
	margin-left: 1%;
    padding: 5px;
    margin-top: 4%;
    font-size: 15px;
    width: 30px;
    height: 30px;
	}
}

@media(min-width: 360px) and (max-width: 414px){
.contenedor_principal {
	width: 80%;
	margin-top: 5%;	
	height: 500px;
	margin-left: 10%;
}
/*Titulo pagina*/
#titulo-pagina {
	margin-top: 5%;
	font-size: 25px;
}
/*Inputs*/

#inputfecha1{
	font-size: 11px;
	width: 55%;
	height: 30px;
	margin-left: 0%;
	margin-top: 10%;
}

#inputhoraini{
	font-size: 11px;
	width: 35%;
	height: 25%;
	margin-left: 1%;
	margin-top: 10%;
}

#chkTodoDia {
	margin-left: 2%;
	margin-top: 15%;
	height: 15px;
	width: 15px;
}

#inputMotivos{
	font-size: 11px;
	width: 70%;
	height: 30px;
	margin-left: 10px;
	margin-top: 40%;
}

#selectPacientes{
	font-size: 11px;
	width: 68%;
	height: 30px;
	margin-left: 5px;
	margin-top: 5%;
}


#inputMotivo {
	font-size: 11px;
	width: 60%;
	padding: 2px;
	height: 30px;
	margin-left: 2%;
	margin-top: 10%;
}

/*Labels*/

#lblFechaA {
	font-size: 13px;
	margin-left: 15%;
	margin-top: 4%;
}

#lblHoraInicio{
	margin-left: 18%;	
	margin-top: 4%;
	font-size: 13px;
}

#lblTodoDia{
	margin-left: 35%;	
	font-size: 13px;
	margin-top: -1%;
}

#lblMotivos{
	font-size: 13px;
	margin-left: 5%;
}

#lblPacientes{
	font-size: 13px;
	margin-left: 5%;
}

#lblNuevaCita{
	font-size: 13px;
	margin-left: 10%;
}
 
#fechas_citaG {
	margin-top: 2%;
	width: 100%;
	height: 25%;
}

#div_motivos {
	margin-top: -5%;
	height: 35%;
	width: 100%;
}

#div_boton {
	margin-top: 35%;
	height: 35%;
}

#div_nuevo_motivo {
	width: 100%;
	margin-top: 10%;
	height: 45%;
	float: center;
}

/*Botones*/

.botonAgregar {
	margin-top: 0%;
    padding: 5px;
    font-size: 14px;
}

.botonAtrasCitasG {
    font-size: 14px;
    margin-top: 2%;
    width: 18%;
}

#btnAddMotivo {
	margin-left: 1%;
    padding: 5px;
    margin-top: 4%;
    font-size: 14px;
    width: 30px;
    height: 30px;
	}
}

@media(max-width: 359px){
.contenedor_principal {
	width: 80%;
	height: 500px;
	margin-top: 5%;	
	margin-left: 10%;
}
/*Titulo pagina*/
#titulo-pagina {
	margin-top: 5%;
	font-size: 15px;
}
/*Inputs*/

#inputfecha1{
	font-size: 10px;
	width: 55%;
	height: 30px;
	margin-left: 0%;
	margin-top: 10%;
}

#inputhoraini{
	font-size: 10px;
	width: 35%;
	height: 25%;
	margin-left: 1%;
	margin-top: 15%;
}

#chkTodoDia {
	margin-left: 2%;
	margin-top: 12%;
	height: 15px;
	width: 15px;
}

#inputMotivos{
	font-size: 10px;
	width: 70%;
	height: 30px;
	margin-left: 10px;
	margin-top: 40%;
}

#selectPacientes{
	font-size: 10px;
	width: 68%;
	height: 30px;
	margin-left: 5px;
	margin-top: 5%;
}


#inputMotivo {
	font-size: 10px;
	width: 70%;
	height: 40%;
	margin-left: 2%;
	margin-top: 10%;
}

/*Labels*/

#lblFechaA {
	font-size: 12px;
	margin-left: 15%;
	margin-top: 4%;
}

#lblHoraInicio{
	margin-left: 20%;	
	margin-top: 4%;
	font-size: 12px;
}

#lblTodoDia{
	margin-left: 35%;	
	font-size: 12px;
}

#lblMotivos{
	font-size: 12px;
	margin-left: 5%;
}

#lblPacientes{
	font-size: 12px;
	margin-left: 5%;
}

#lblNuevaCita{
	font-size: 12px;
	margin-left: 7%;
	margin-top: 3%;
}
 
#fechas_citaG {
	margin-top: 5%;
	width: 100%;
	height: 25%;
}

#div_motivos {
	margin-top: -5%;
	height: 35%;
	width: 100%;
}

#div_boton {
	margin-top: 35%;
	height: 35%;
}

#div_nuevo_motivo {
	width: 100%;
	margin-top: 10%;
	height: 45%;
	float: center;
}

/*Botones*/

.botonAgregar {
	margin-top: -20%;
    padding: 6px;
    font-size: 13px;
}

.botonAtrasCitasG {
    font-size: 13px;
    margin-top: 2%;
    width: 18%;
}

#btnAddMotivo {
	margin-left: 1%;
    padding: 3px;
    margin-top: 14%;
    font-size: 13px;
    width: 27px;
    height: 27px;
	}
}