.principal {
	display: -webkit-box;
  	display: -webkit-flex;
  	display: -moz-box;
  	display: -ms-flexbox;
	display: flex;
	flex-direction: column;
	background-color: white;
	border-radius: 10px;
	margin-top: 10px;
	height: 800px;
	width: 60%;	
	margin-left: 20%;
	margin-bottom: 2%;
	padding-right: 0px;
	padding-left: 0px;
	}
 
.title {
	display: -webkit-box;
  	display: -webkit-flex;
  	display: -moz-box;
  	display: -ms-flexbox;
	display: flex;
	border-radius: 10px;
	background-color: #D6D5E1;
	height: 80px;
	width: 100%;
	align-items: center;
	justify-content: center;
	font-family: 'Nunito', sans-serif;	
	font-size: 30px;
	color:black;
	background-image: url(img/header-midnightBlue.jpg);
}

.form-alta {
	height: 800px;
}


.form-paciente {
	height: 720px;
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: baseline;
	justify-content:space-between;
	float: left;
	border-right: 0.5px solid;
	border-color: #D6D5E1;
}

.form-propietario {
	height: 720px;
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: baseline;
	justify-content:space-between;
	float: left;
}

.title-paciente{
	color: black;
	font-family: 'Nunito', sans-serif;	
	font-size: 35px;
	margin-left: 45%;
}

.title-propietario{
	color: black;
	font-family: 'Nunito', sans-serif;	
	font-size: 35px;
	margin-left: 35%;
}

/*Titulo pagina*/
#titulo-pagina {
  	font-family: 'Nunito', sans-serif;	
	margin-top: 30px;
	font-size: 35px;
	color:white;
	text-align: center;
}

/*Inputs*/

#nombrePaciente{
	font-family: 'Nunito', sans-serif;
	font-size: 17px;
	width: 411px;
	height: 40px;
	margin-left: 70px;
	text-transform: uppercase;
	border-radius: 10px;
	border: 2px solid #40444745
}

#sltEspecie{
	font-size: 17px;
	width: 411px;
	height: 40px;
	margin-left: 70px;
	text-transform: uppercase;
	border-radius: 10px;
	border: 2px solid #40444745
}

#sltRaza {
	font-size: 17px;
	width: 411px;
	height: 40px;
	margin-left: 70px;
	border-radius: 10px;
	border: 2px solid #40444745
}

#sltColor {
	font-size: 17px;
	width: 411px;
	height: 40px;
	margin-left: 70px;
	border-radius: 10px;
	border: 2px solid #40444745
}

#inputFechaNac{
	font-family: 'Nunito', sans-serif;
	font-size: 17px;
	width: 411px;
	height: 40px;
	margin-left: 70px;
	border-radius: 10px;
	border: 2px solid #40444745
}

#inputMeses{
	font-family: 'Nunito', sans-serif;
	font-size: 17px;
	margin-left: 70px;
	width: 193px;
	height: 40px;
	border-radius: 10px;
	border: 2px solid #40444745
}

#inputAnios{
	font-family: 'Nunito', sans-serif;
	font-size: 17px;
	width: 193px;
	margin-left: 20px;
	height: 40px;
	border-radius: 10px;
	border: 2px solid #40444745
}


#inputChip {
	font-family: 'Nunito', sans-serif;
	font-size: 17px;
	width: 411px;
	height: 40px;
	margin-left: 70px;	
	text-transform: uppercase;
	border-radius: 10px;
	border: 2px solid #40444745
}

#inputExpediente {
	font-family: 'Nunito', sans-serif;
	font-size: 17px;
	width: 411px;
	height: 40px;
	margin-left: 70px;
	border-radius: 10px;
	border: 2px solid #40444745
}

#txtObservaciones {
	font-family: 'Nunito', sans-serif;
	font-size: 15px;
	width: 411px;
	height: 100px;
	text-transform: uppercase;
	margin-left: 70px;
	border-radius: 10px;
	border: 2px solid #40444745
}

#radioGenero {
}

/***********************************************************************Estilo del radio y del checkbox**********************************************************************************/
/*Radio*/
.form-radio
{
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     display: inline-block;
     position: relative;
     background-color: #f1f1f1;
     color: #666;
     top: 10px;
     height: 30px;
     width: 30px;
     border: 0;
     border-radius: 50px;
     cursor: pointer;     
     margin-right: 7px;
     outline: none;
}
.form-radio:checked::before
{
     position: absolute;
     font: 13px/1 'Open Sans', sans-serif;
     left: 11px;
     top: 7px;
     content: '\02143';
     transform: rotate(40deg);
}
.form-radio:hover
{
     background-color: #f7f7f7;
}
.form-radio:checked
{
     background-color: #DCDCDC;
}
/*EndRadio*/

/*Checkbox*/
.form-checkbox
{
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     display: inline-block;
     position: relative;
     background-color: #f1f1f1;
     color: #666;
     top: 10px;
     height: 30px;
     width: 30px;
     border: 0;
     border-radius: 3px;
     cursor: pointer;     
     margin-right: 7px;
     outline: none;
}
.form-checkbox:checked::before
{
     position: absolute;
     font: 13px/1 'Open Sans', sans-serif;
     left: 11px;
     top: 7px;
     content: '\02143';
     transform: rotate(40deg);
}
.form-checkbox:hover
{
     background-color: #f7f7f7;
}
.form-checkbox:checked
{
     background-color: #DCDCDC;
}
/*EndCheckbox*/
/***********************************************************************Fin Estilo del radio y checkbox**********************************************************************************/

#inputNombreP {
	font-family: 'Nunito', sans-serif;
	font-size: 17px;
	margin-left: 70px;
	width: 411px;
	height: 40px;
	text-transform: uppercase;
	border-radius: 10px;
	border: 2px solid #40444745
}

#inputPaterno{
	font-family: 'Nunito', sans-serif;
	font-size: 17px;
	width: 411px;
	height: 40px;
	margin-left: 70px;
	text-transform: uppercase;
	border-radius: 10px;
	border: 2px solid #40444745
}

#inputMaterno{
	font-family: 'Nunito', sans-serif;
	font-size: 17px;
	width: 411px;
	height: 40px;
	margin-left: 70px;
	text-transform: uppercase;
	border-radius: 10px;
	border: 2px solid #40444745
}

#inputTelefono{
	font-family: 'Nunito', sans-serif;
	font-size: 17px;
	width: 411px;
	height: 40px;
	margin-left: 70px;
	text-transform: uppercase;
	border-radius: 10px;
	border: 2px solid #40444745
}

#inputCorreo{
	font-family: 'Nunito', sans-serif;
	font-size: 17px;
	width: 411px;
	height: 40px;
	margin-left: 70px;
	text-transform: uppercase;
	border-radius: 10px;
	border: 2px solid #40444745
}

#inputDireccion{
	font-family: 'Nunito', sans-serif;
	font-size: 17px;
	width: 411px;
	height: 40px;
	margin-left: 70px;
	text-transform: uppercase;
	border-radius: 10px;
	border: 2px solid #40444745
}

#inputColonia{
	font-family: 'Nunito', sans-serif;
	font-size: 17px;
	width: 411px;
	height: 40px;
	margin-left: 70px;
	text-transform: uppercase;
	border-radius: 10px;
	border: 2px solid #40444745
}

#inputCP{
	font-family: 'Nunito', sans-serif;
	font-size: 17px;
	width: 411px;
	height: 40px;
	margin-left: 70px;
	text-transform: uppercase;
	border-radius: 10px;
	border: 2px solid #40444745
}

#inputIdioma {
	font-family: 'Nunito', sans-serif;
	font-size: 17px;
	width: 200px;
	height: 40px;
	margin-left: 150px;
	border-radius: 10px;
	border: 2px solid #40444745
}

#chkEsteril {
	margin-left: 10px;
	background-color: #2196F3;
	height: 20px;
	width: 20px;
	margin-top: 5px;
}
/*Labels*/

.radioGenero{
	font-family: 'Nunito', sans-serif;
	font-size: 25px;
}

#lblNombre, #lblEspecie, #lblRaza, #lblGenero, #lblColor, #lblMeses, #lblFNac, #lblChip, #lblExp,
 #lblObs, #lblEsteril {
	font-family: 'Nunito', sans-serif;
	font-size: 23px;
	margin-left: 70px;
}


#lblProp, #lblPaternoP, #lblMaternoP, #lblTel, #lblCorreo, #lblDireccion, #lblColonia, #lblCP{
	font-family: 'Nunito', sans-serif;
	font-size: 23px;
	margin-left: 70px;
}

#lblAnios{
	font-family: 'Nunito', sans-serif;
	font-size: 23px;
	margin-left: 120px;
}
/*Botones*/

.btnAlta {
 	font-family: 'Nunito', sans-serif;
	text-decoration: none;
	margin-left: 250px;
	margin-bottom: 10px;	
    padding: 10px;
    font-size: 20px;
    color: #ffffff;
    background-color: #527486;
    border-radius: 5px;
    border: 1px solid #527486;
}

