.contenedor-principal {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;
	background-color: white;
	border-radius: 10px;
	margin-top: 10px;
	height: 700px;
	width: 60%;	
	margin-left: 20%;
	margin-right: 20%;
	margin-bottom: 10px;
	padding-right: 0px;
	padding-left: 0px;
	}
 
.contenedor-title {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	border-radius: 10px;
	background-color: #D6D5E1;
	height: 80px;
	width: 100%;
	align-items: center;
	justify-content: center;
	font-family: 'Nunito', sans-serif;	
	font-size: 30px;
	color:black;
}

.botonAtrasEst {
	font-family: 'Nunito', sans-serif;
	text-decoration: none;
    padding: 5px;
    font-size: 20px;
    margin-top: -5%;
    color: #ffffff;
    background-color: #527486;
    border-radius: 6px;
    border: 1px solid #0016b0;
    margin-left: 48%;
    width: 10%;
   	float: left;
}

.form_estetica {
	height: 700px;
	justify-content: space-around;
}

/*Titulo pagina*/
#titulo-pagina {
	font-family: 'Nunito', sans-serif;	
	margin-top: 30px;
	font-size: 35px;
	color:white;
	text-align: center;
}

#datos_citaE{
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	height: 25%;
}

#datos_horario{
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	height: 25%;
	flex-direction: row;
}

#notasyobs{
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	height: 25%;
	border-radius: 10px;
}

#botonAgregar {
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	height: 25%;
	border-radius: 10px;
}

#inputEstilista{
	font-family: 'Nunito', sans-serif;
	font-size: 15px;
	width: 19%;
	height: 25%;
	margin-left: 10%;
	margin-top: 5%;
	color: gray;
	border-radius: 10px;
	border: 2px solid #40444745;
}

#inputTipoServicio{
	font-family: 'Nunito', sans-serif;
	font-size: 15px;
	width: 20%;
	height: 25%;
	margin-left: 8%;
	margin-top: 5%;
	color: gray;
	border-radius: 10px;
	border: 2px solid #40444745;
}

#inputFechaE{
	font-family: 'Nunito', sans-serif;
	font-size: 15px;
	width: 15%;
	height: 25%;
	margin-left: 2%;
	margin-top: 4%;
	color: gray;
	border-radius: 10px;
	border: 2px solid #40444745;
}

#inputServicioE {
	font-family: 'Nunito', sans-serif;
	font-size: 15px;
	width: 29%;
	height: 25%;
	margin-left: 7%;
	margin-top: 5%;
	color: gray;
	border-radius: 10px;
	border: 2px solid #40444745;
}

#chkTodoDia {
	margin-left: 40px;
}

#inputPrecioS {
	font-family: 'Nunito', sans-serif;
	font-size: 17px;
	width: 7%;
	height: 25%;
	margin-left: 2%;
	margin-top: 4%;
	color: gray;
	border-radius: 10px;
	border: 2px solid #40444745;
}

#inputHoraInicio{
	font-family: 'Nunito', sans-serif;
	font-size: 17px;
	width: 15%;
	height: 25%;
	margin-left: 2%;
	margin-top: 4%;
	color: gray;
	border-radius: 10px;
	border: 2px solid #40444745;
}

#inputHoraFinE {
	font-family: 'Nunito', sans-serif;
	font-size: 17px;
	width: 15%;
	height: 25%;
	margin-left: 2%;
	margin-top: 4%;
	color: gray;
	border-radius: 10px;
	border: 2px solid #40444745;
}

#inputNotas {
	font-family: 'Nunito', sans-serif;
	font-size: 17px;
	width: 50%;
	height: 100%;
	margin-left: 2%;
	text-transform: uppercase;
	color: gray;
	border-radius: 10px;
	border: 2px solid #40444745;
}


/*Labels*/

#lblEstilista {
	font-family: 'Nunito', sans-serif;
	font-size: 19px;
	margin-left: 6%;
	margin-top: 6%;	
}

#lblTipo{
	margin-left: 2%;	
	font-family: 'Nunito', sans-serif;
	font-size: 19px;
	margin-top: 6%;	
}

#lblNotas{
	margin-left: 15%;	
	margin-top: 6%;	
	font-family: 'Nunito', sans-serif;
	font-size: 19px;
}

#lblPrecioS {
	font-family: 'Nunito', sans-serif;
	font-size: 19px;
	margin-top: 5%;
	margin-left: 5%;
}

#lblFechaE{
	font-family: 'Nunito', sans-serif;
	font-size: 19px;
	margin-top: 5%;
	margin-left: 3%;	
}

#lblHoraInicio{
	font-family: 'Nunito', sans-serif;
	font-size: 19px;
	margin-left: 3%;
	margin-top: 5%;	
}

#lblHoraFinE{
	font-family: 'Nunito', sans-serif;
	font-size: 19px;
	margin-left: 3%;
	margin-top: 5%;	
}

/*Botones*/

.botonAgregar {
	font-family: 'Nunito', sans-serif;
	text-decoration: none;
	padding: 10px;
	font-size: 20px;
	color: #ffffff;
	height: 30%;
	background-color: #527486;
	border-radius: 4px;
	border: 1px solid #0016b0;
	margin-left: 45%;
	margin-top: 3%;
}

@media(min-width: 1200px) and (max-width: 1366px){
.contenedor-principal {
	width: 96%;	
	margin-left: 2%;
}	
.botonAtrasEst {
    padding: 5px;
    font-size: 20px;
    margin-top: 1%;
    margin-left: 48%;
    width: 10%;
}
}

@media(min-width: 1024px) and (max-width: 1199px){
.contenedor-principal {
	width: 96%;	
	margin-left: 2%;
}
#lblPrecioS {
	margin-left: 3%;
}
.botonAgregar {
	margin-left: 42%;
}

.botonAtrasEst {
    padding: 5px;
    font-size: 20px;
    margin-top: 1%;
    margin-left: 47%;
    width: 10%;
}

.contenedor-title {
	height: 70px;
	align-items: center;
	justify-content: center;
	font-size: 27px;
}

#titulo-pagina {
	margin-top: 2%;
	font-size: 30px;
}

#inputEstilista{
	font-size: 13px;
	margin-left: 7%;
}

#inputTipoServicio{
	font-size: 13px;
	margin-left: 10%;
}

#inputFechaE{
	font-size: 13px;
}

#inputServicioE {
	font-size: 13px;
	width: 32%;
}

#inputPrecioS, #inputNotas {
	font-size: 13px;
}

#inputHoraInicio{
	font-size: 15px;
}

#inputHoraFinE {
	font-size: 15px;
}
}

@media(min-width: 768px) and (max-width: 1023px){
.contenedor-principal {
	width: 96%;	
	margin-left: 2%;
}

#inputEstilista {
	width: 22%;
	height: 20%;
	font-size: 13px;
	margin-left: 5%;
}

.contenedor-title {
	height: 70px;
	align-items: center;
	justify-content: center;
	font-size: 25px;
}

#lblFechaE {
	font-size: 15px;
	margin-top: 3%;
	margin-left: 2%;	
}

#titulo-pagina {
	margin-top: 8%;
	font-size: 25px;
}


#lblPrecioS {
	font-size: 13px;
	margin-left: 2%;
	margin-top: 3%;
}

#inputTipoServicio {
	width: 22%;
	font-size: 13px;
	height: 20%;
	margin-left: 5%;
}
#inputServicioE {
	width: 35%;
	height: 20%;
	font-size: 13px;
	margin-left: 5%;
}
#inputPrecioS {
	width: 8%;
	margin-left: 2%;
	height: 20%;
	margin-top: 2%;
}
#inputFechaE {
	width: 17%;
	margin-left: 2%;
	height: 20%;
	margin-top: 2%;
	font-size: 13px;
}
#lblHoraInicio {
	font-size: 15px;
	margin-left: 2%;
	margin-top: 3%;
}
#inputHoraInicio {
	width: 15%;
	margin-left: 2%;
	height: 20%;
	margin-top: 2%;
}
#lblHoraFinE {
	margin-left: 2%;
	font-size: 15px;
	margin-top: 3%;	
}
#inputHoraFinE {
	width: 15%;
	margin-left: 2%;
	height: 20%;
	margin-top: 2%;
}	
#lblNotas {
	font-size: 15px;
	margin-left: 10%;	
}
.botonAgregar {
	font-size: 15px;
	padding: 5px;
	margin-left: 43%;
}

.botonAtrasEst {
    padding: 5px;
    font-size: 15px;
    margin-top: 1%;
    margin-left: 48%;
    width: 10%;
}

}

@media(min-width: 568px) and (max-width: 767px){
.contenedor-principal {
	width: 96%;	
	margin-left: 2%;
	height: 500px;
}

#inputEstilista {
	width: 22%;
	height: 25%;
	border-radius: 8px;
	font-size: 12px;
	margin-left: 5%;
}

.contenedor-title {
	height: 50px;
	align-items: center;
	justify-content: center;
	font-size: 22px;
}

#lblFechaE {
	font-size: 13px;
	margin-top: 3%;
	margin-left: 2%;	
}

#titulo-pagina {
	margin-top: 8%;
	font-size: 22px;
}

#lblPrecioS {
	font-size: 13px;
	margin-left: 2%;
	margin-top: 3%;
}

#inputTipoServicio {
	border-radius: 8px;
	width: 24%;
	font-size: 12px;
	height: 25%;
	margin-left: 5%;
}
#inputServicioE {
	border-radius: 8px;
	width: 35%;
	height: 25%;
	font-size: 12px;
	margin-left: 5%;
}
#inputPrecioS {
	border-radius: 8px;
	width: 8%;
	margin-left: 2%;
	height: 25%;
	margin-top: 2%;
}
#inputFechaE {
	width: 17%;
	margin-left: 2%;
	height: 25%;
	border-radius: 8px;
	margin-top: 2%;
	font-size: 12px;
}
#lblHoraInicio {
	font-size: 13px;
	margin-left: 2%;
	margin-top: 3%;
}
#inputHoraInicio {
	width: 15%;
	font-size: 12px;
	margin-left: 2%;
	border-radius: 8px;
	height: 25%;
	margin-top: 2%;
}
#lblHoraFinE {
	margin-left: 2%;
	font-size: 13px;
	margin-top: 3%;	
}
#inputHoraFinE {
	width: 15%;
	font-size: 12px;
	margin-left: 1%;
	border-radius: 8px;
	height: 25%;
	margin-top: 2%;
}	
#lblNotas {
	font-size: 13px;
	margin-left: 10%;	
	margin-top: 5%;	
}

#inputNotas {
	font-family: 'Nunito', sans-serif;
	font-size: 17px;
	width: 50%;
	height: 100%;
	margin-left: 2%;
	margin-top: -5%;
	text-transform: uppercase;
	color: gray;
	border-radius: 10px;
	border: 2px solid #40444745;
}
.botonAgregar {
	font-size: 13px;
	padding: 5px;
	margin-left: 43%;
	margin-top: 1%;
}

.botonAtrasEst {
    padding: 5px;
    font-size: 13px;
    margin-top: 1%;
    margin-left: 49%;
    width: 10%;
}
}

@media(min-width: 414px) and (max-width: 567px){
.contenedor-principal {
	width: 96%;	
	margin-left: 2%;
	height: 600px;
}

#inputEstilista {
	width: 60%;
	height: 25%;
	border-radius: 8px;
	font-size: 11px;
	margin-left: 20%;
}

#inputTipoServicio {
	border-radius: 8px;
	width: 32%;
	font-size: 11px;
	height: 25%;
	margin-top: 25%;
	margin-left: -75%;
}
#inputServicioE {
	border-radius: 8px;
	width: 55%;
	height: 25%;
	margin-top: 25%;
	font-size: 11px;
	margin-left: 4%;
}

.contenedor-title {
	height: 40px;
	align-items: center;
	justify-content: center;
	font-size: 18px;
}

#lblPrecioS {
	font-size: 13px;
	margin-left: 15%;
	margin-top: 10%;
}

#lblFechaE {
	font-size: 13px;
	margin-top: 10%;
	margin-left: 10%;	
}

#titulo-pagina {
	margin-top: 8%;
	font-size: 18px;
}

#inputPrecioS {
	border-radius: 8px;
	width: 18%;
	font-size: 12px;
	margin-left: 2%;
	height: 25%;
	margin-top: 8%;
}

#inputFechaE {
	width: 30%;
	margin-left: 2%;
	height: 25%;
	border-radius: 8px;
	margin-top: 8%;
	font-size: 12px;
}

#lblHoraInicio {
	font-size: 13px;
	margin-left: -80%;
	margin-top: 27%;
}

#inputHoraInicio {
	width: 25%;
	font-size: 12px;
	margin-left: 2%;
	border-radius: 8px;
	height: 25%;
	margin-top: 25%;
}

#lblHoraFinE {
	margin-left: 2%;
	font-size: 13px;
	margin-top: 27%;	
}

#inputHoraFinE {
	width: 25%;
	font-size: 12px;
	margin-left: 1%;
	border-radius: 8px;
	height: 25%;
	margin-top: 25%;
}	

#lblNotas {
	font-size: 13px;
	margin-left: 5%;	
	margin-top:20%;	
}

#inputNotas {
	font-size: 17px;
	width: 50%;
	height: 80%;
	margin-left: 2%;
	margin-top: 10%;
}

.botonAgregar {
	font-size: 13px;
	padding: 5px;
	margin-left: 40%;
	margin-top: 10%;
}

.botonAtrasEst {
    padding: 5px;
    font-size: 13px;
    margin-top: 1%;
    margin-left: 48%;
    width: 15%;
}

}

@media(min-width: 360px) and (max-width: 413px){
.contenedor-principal {
	width: 96%;	
	margin-left: 2%;
	height: 500px;
}

#inputEstilista {
	width: 60%;
	height: 25%;
	border-radius: 8px;
	font-size: 10px;
	margin-left: 20%;
}

#inputTipoServicio {
	border-radius: 8px;
	width: 32%;
	font-size: 10px;
	height: 25%;
	margin-top: 25%;
	margin-left: -75%;
}
#inputServicioE {
	border-radius: 8px;
	width: 55%;
	height: 25%;
	margin-top: 25%;
	font-size: 10px;
	margin-left: 4%;
}

.contenedor-title {
	height: 40px;
	align-items: center;
	justify-content: center;
	font-size: 18px;
}

#lblPrecioS {
	font-size: 13px;
	margin-left: 15%;
	margin-top: 10%;
}

#lblFechaE {
	font-size: 13px;
	margin-top: 10%;
	margin-left: 10%;	
}

#titulo-pagina {
	margin-top: 8%;
	font-size: 18px;
}

#inputPrecioS {
	border-radius: 8px;
	width: 18%;
	font-size: 10px;
	margin-left: 2%;
	height: 25%;
	margin-top: 8%;
}

#inputFechaE {
	width: 30%;
	margin-left: 2%;
	height: 25%;
	border-radius: 8px;
	margin-top: 8%;
	font-size: 10px;
}

#lblHoraInicio {
	font-size: 13px;
	margin-left: -85%;
	margin-top: 27%;
}

#inputHoraInicio {
	width: 25%;
	font-size: 10px;
	margin-left: 2%;
	border-radius: 8px;
	height: 25%;
	margin-top: 25%;
}

#lblHoraFinE {
	margin-left: 2%;
	font-size: 13px;
	margin-top: 27%;	
}

#inputHoraFinE {
	width: 25%;
	font-size: 10px;
	margin-left: 1%;
	border-radius: 8px;
	height: 25%;
	margin-top: 25%;
}	

#lblNotas {
	font-size: 13px;
	margin-left: 5%;	
	margin-top:20%;	
}

#inputNotas {
	font-size: 11px;
	width: 50%;
	height: 80%;
	margin-left: 2%;
	margin-top: 10%;
}

.botonAgregar {
	font-size: 11px;
	padding: 5px;
	margin-left: 40%;
	margin-top: 10%;
}

.botonAtrasEst {
    padding: 5px;
    font-size: 13px;
    margin-top: 1%;
    margin-left: 48%;
    width: 15%;
}
}

@media(max-width: 359px) {
.contenedor-principal {
	width: 96%;	
	margin-left: 2%;
	height: 500px;
}

#inputEstilista {
	width: 60%;
	height: 25%;
	border-radius: 8px;
	font-size: 9px;
	margin-left: 20%;
}

#inputTipoServicio {
	border-radius: 8px;
	width: 32%;
	font-size: 9px;
	height: 25%;
	margin-top: 25%;
	margin-left: -75%;
}
#inputServicioE {
	border-radius: 8px;
	width: 55%;
	height: 25%;
	margin-top: 25%;
	font-size: 9px;
	margin-left: 4%;
}

.contenedor-title {
	height: 40px;
	align-items: center;
	justify-content: center;
	font-size: 18px;
}

#lblPrecioS {
	font-size: 11px;
	margin-left: 15%;
	margin-top: 10%;
}

#lblFechaE {
	font-size: 11px;
	margin-top: 10%;
	margin-left: 9%;	
}

#titulo-pagina {
	margin-top: 8%;
	font-size: 18px;
}

#inputPrecioS {
	border-radius: 8px;
	width: 18%;
	font-size: 10px;
	margin-left: 2%;
	height: 25%;
	margin-top: 8%;
}

#inputFechaE {
	width: 32%;
	margin-left: 2%;
	height: 25%;
	border-radius: 8px;
	margin-top: 8%;
	font-size: 10px;
}

#lblHoraInicio {
	font-size: 11px;
	margin-left: -85%;
	margin-top: 30%;
}

#inputHoraInicio {
	width: 25%;
	font-size: 10px;
	margin-left: 2%;
	border-radius: 8px;
	height: 25%;
	margin-top: 28%;
}

#lblHoraFinE {
	margin-left: 2%;
	font-size: 11px;
	margin-top: 30%;	
}

#inputHoraFinE {
	width: 25%;
	font-size: 10px;
	margin-left: 1%;
	border-radius: 8px;
	height: 25%;
	margin-top: 28%;
}	

#lblNotas {
	font-size: 11px;
	margin-left: 5%;	
	margin-top:20%;	
}

#inputNotas {
	font-size: 11px;
	width: 50%;
	height: 80%;
	margin-left: 2%;
	margin-top: 10%;
}

.botonAgregar {
	font-size: 11px;
	padding: 5px;
	margin-left: 38%;
	margin-top: 10%;
}

.botonAtrasEst {
    padding: 5px;
    font-size: 11px;
    margin-top: 1%;
    margin-left: 48%;
    width: 15%;
}
}

