.contenedor-principal {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;
	background-color: white;
	border-radius: 10px;
	margin-top: 10px;
	height: 700px;
	width: 60%;	
	margin-left: 20%;
	margin-right: 20%;
	margin-bottom: 10px;
	padding-right: 0px;
	padding-left: 0px;
	}
 
.contenedor-title {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	border-radius: 10px;
	background-color: #D6D5E1;
	height: 80px;
	width: 100%;
	align-items: center;
	justify-content: center;
	font-family: 'Nunito', sans-serif;	
	font-size: 30px;
	color:black;
}

.form_estetica {
	height: 700px;
	justify-content: space-around;
}

/*Titulo pagina*/
#titulo-pagina {
	font-family: 'Nunito', sans-serif;	
	margin-top: 30px;
	font-size: 35px;
	color:white;
	text-align: center;
}

#datos_citaE{
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	height: 25%;
}

#datos_horario{
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	height: 25%;
	flex-direction: row;
}

#notasyobs{
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	height: 25%;
	border-radius: 10px;
}

#botonAgregar {
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	height: 25%;
	border-radius: 10px;
}

#inputEstilista{
	font-family: 'Nunito', sans-serif;
	font-size: 15px;
	width: 19%;
	height: 25%;
	margin-left: 10%;
	margin-top: 5%;
	color: gray;
	border-radius: 10px;
	border: 2px solid #40444745;
}

#inputTipoServicio{
	font-family: 'Nunito', sans-serif;
	font-size: 15px;
	width: 20%;
	height: 25%;
	margin-left: 10%;
	margin-top: 5%;
	color: gray;
	border-radius: 10px;
	border: 2px solid #40444745;
}

#inputFechaE{
	font-family: 'Nunito', sans-serif;
	font-size: 15px;
	width: 15%;
	height: 25%;
	margin-left: 2%;
	margin-top: 4%;
	color: gray;
	border-radius: 10px;
	border: 2px solid #40444745;
}

#inputServicioE {
	font-family: 'Nunito', sans-serif;
	font-size: 15px;
	width: 20%;
	height: 25%;
	margin-left: 10%;
	margin-top: 5%;
	color: gray;
	border-radius: 10px;
	border: 2px solid #40444745;
}

#chkTodoDia {
	margin-left: 40px;
}

#inputPrecioS {
	font-family: 'Nunito', sans-serif;
	font-size: 17px;
	width: 7%;
	height: 25%;
	margin-left: 2%;
	margin-top: 4%;
	color: gray;
	border-radius: 10px;
	border: 2px solid #40444745;
}

#inputHoraInicio{
	font-family: 'Nunito', sans-serif;
	font-size: 17px;
	width: 15%;
	height: 25%;
	margin-left: 2%;
	margin-top: 4%;
	color: gray;
	border-radius: 10px;
	border: 2px solid #40444745;
}

#inputHoraFinE {
	font-family: 'Nunito', sans-serif;
	font-size: 17px;
	width: 15%;
	height: 25%;
	margin-left: 2%;
	margin-top: 4%;
	color: gray;
	border-radius: 10px;
	border: 2px solid #40444745;
}

#inputNotas {
	font-family: 'Nunito', sans-serif;
	font-size: 17px;
	width: 50%;
	height: 100%;
	margin-left: 2%;
	text-transform: uppercase;
	color: gray;
	border-radius: 10px;
	border: 2px solid #40444745;
}


/*Labels*/

#lblEstilista {
	font-family: 'Nunito', sans-serif;
	font-size: 19px;
	margin-left: 6%;
	margin-top: 6%;	
}

#lblTipo{
	margin-left: 2%;	
	font-family: 'Nunito', sans-serif;
	font-size: 19px;
	margin-top: 6%;	
}

#lblNotas{
	margin-left: 15%;	
	margin-top: 6%;	
	font-family: 'Nunito', sans-serif;
	font-size: 19px;
}

#lblPrecioS {
	font-family: 'Nunito', sans-serif;
	font-size: 19px;
	margin-top: 5%;
	margin-left: 5%;
}

#lblFechaE{
	font-family: 'Nunito', sans-serif;
	font-size: 19px;
	margin-top: 5%;
	margin-left: 3%;	
}

#lblHoraInicio{
	font-family: 'Nunito', sans-serif;
	font-size: 19px;
	margin-left: 3%;
	margin-top: 5%;	
}

#lblHoraFinE{
	font-family: 'Nunito', sans-serif;
	font-size: 19px;
	margin-left: 3%;
	margin-top: 5%;	
}

/*Botones*/

.botonAgregar {
	font-family: 'Nunito', sans-serif;
	text-decoration: none;
	padding: 10px;
	font-size: 20px;
	color: #ffffff;
	height: 30%;
	background-color: #1883ba;
	border-radius: 4px;
	border: 1px solid #0016b0;
	margin-left: 45%;
	margin-top: 3%;
}

@media(min-width: 1200px) and (max-width: 1366px){
.contenedor-principal {
	width: 90%;	
	margin-left: 5%;
}	
}

@media(min-width: 1024px) and (max-width: 1199px){
.contenedor-principal {
	width: 88%;	
	margin-left: 6%;
}
#lblPrecioS {
	margin-left: 3%;
}
.botonAgregar {
	margin-left: 42%;
}
}

@media(min-width: 768px) and (max-width: 1023px){
.contenedor-principal {
	width: 86%;	
	margin-left: 7%;
}
#inputEstilista {
	width: 22%;
	margin-left: 7%;
}
#lblFechaE {
	margin-left: 2%;	
}
#inputTipoServicio {
	width: 22%;
}
#inputServicioE {
	width: 22%;
}
#inputPrecioS {
	width: 8%;
	margin-left: 10px;
}
#inputFechaE {
	width: 25%;
}
#lblHoraInicio {
	margin-left: 3%;
	margin-top: 3%;	
}
#inputHoraInicio {
	width: 15%;
	margin-left: -3%;
}
#lblHoraFinE {
	margin-top: 3%;	
	margin-right: -11px;
}
#inputHoraFinE {
	margin-right: 18px; 
}	
#lblNotas {
	margin-left: 7%;	
}
.botonAgregar {
	margin-left: 38%;
}
}

@media(min-width: 568px) and (max-width: 767px){
.contenedor-principal {
	width: 84%;	
	margin-left: 8%;
}
#inputEstilista {
	width: 29%;
	margin-left: 3%;
	margin-top: 5%;
}
#inputTipoServicio {
	width: 29%;
	margin-left: 4%;
}
#inputServicioE {
	width: 29%;
	margin-left: 4%;
}
#lblPrecioS {
	margin-top: -8%;
	margin-left: 5%;
}
#inputPrecioS {
	width: 29%;
	margin-top: -10%;
}
#lblFechaE {
	margin-top: -8%;
	margin-left: 15%;	
}
#inputFechaE {
	width: 29%;
	margin-top: -10%;
}
#lblHoraInicio {
	margin-left: -93%;
	margin-top: 13%;	
}
#inputHoraInicio{
	width: 29%;
	margin-left: 1%;
	margin-top: 11%;
}
#lblHoraFinE{
	margin-left: 1%;
	margin-top: 13%;	
}
#inputHoraFinE {
	width: 29%;
	margin-left: 1%;
	margin-top: 11%;
}
#lblNotas {
	margin-left: 3%;	
}
.botonAgregar {
	margin-left: 31%;
}	
}

@media(min-width: 414px) and (max-width: 567px){
.contenedor-principal {
	width: 80%;	
	margin-left: 10%;
}
#inputEstilista {
	width: 42%;
	margin-left: 3%;
}
#inputTipoServicio {
	width: 42%;
}
#inputServicioE {
	width: 42%;
	margin-left: -94%;
	margin-top: 32%;
}
#lblPrecioS {
	margin-top: -18%;
	margin-left: 51%;
	margin-right: -58%;
}
#inputPrecioS {
	width: 41%;
	margin-left: 59%;
	margin-top: -21%;
}
#lblFechaE {
	margin-left: -96%;	
}
#inputFechaE {
	width: 80%;
}
#lblHoraInicio {
	margin-left: -97%;
	margin-top: 29%;	
}
#inputHoraInicio {
	width: 21%;	
	margin-top: 27%;
}
#lblHoraFinE {
	margin-left: 2%;
	margin-top: 29%;	
	margin-right: 2%;
}
#inputHoraFinE {
	width: 21%;;
	margin-left: -1%;
	margin-top: 27%;
}
#lblNotas{
	margin-left: 1%;	
}
#inputNotas {
	width: 69%;
	margin-left: -10%;
	margin-right: 2%;
}
.botonAgregar {
	margin-left: 21%;
	margin-top: 6%;
}
}

@media(min-width: 360px) and (max-width: 413px){
.contenedor-principal {
	width: 78%;	
	margin-left: 11%;
}
#inputEstilista {
	width: 45%;
	margin-left: 0%;
}
#inputTipoServicio {
	width: 49%;
	margin-left: 6%;
}
#inputServicioE {
	width: 43%;
	margin-left: -99%;
	margin-top: 33%;
}
#lblPrecioS {
	margin-top: -26%;
	margin-left: 51%;
}
#inputPrecioS {
	width: 42%;
	margin-top: -29%;
}
#lblFechaE {
	margin-top: 2%;
	margin-left: -96%;	
}
#inputFechaE {
	width: 77%;
	margin-top: -1%;
}
#lblHoraInicio {
	margin-left: -97%;
	margin-top: 27%;
	margin-right: -8%;	
}
#inputHoraInicio {
	width: 31%;
	margin-left: -5%;
	margin-top: 29%;
}
#lblHoraFinE {
	margin-left: 6%;
	margin-top: 27%;	
}
#inputHoraFinE {
	width: 31%;
	margin-left: -9%;
	margin-top: 29%;
}
#lblNotas {
	margin-left: 2%;	
}
#inputNotas {
	width: 52%;
	height: 100%;
	margin-left: -21%;
	margin-right: 2%;
}
.botonAgregar {
	padding: 4px;
	height: 28%;
	margin-left: 15%;
	margin-top: 7%;
}	
}


@media(max-width: 359px) {
.contenedor-principal {
	margin-top: 10px;
	width: 78%;	
	margin-left: 12%;
}
#inputEstilista {
	width: 46%;
	margin-left: 0%;
}
#inputTipoServicio {
	width: 50%;
	margin-left: 3%;
}
#inputServicioE {
	width: 45%;
	margin-left: -99%;
	margin-top: 35%;
}
#lblPrecioS {
	margin-top: -24%;
	margin-left: 51%;
}
#inputPrecioS {
	width: 41%;
	margin-left: 1%;
	margin-top: -27%;
}
#lblFechaE {
	margin-top: 3%;
	margin-left: -97%;	
}
#inputFechaE {
	width: 80%;
	margin-top: 1%;
}
#lblHoraInicio {
	margin-left: -100%;
	margin-top: 30%;
	margin-right: 2%;	
}
#inputHoraInicio {
	width: 30%;
	margin-left: -15%;
	margin-top: 32%;
}
#lblHoraFinE {
	margin-left: 4%;
	margin-top: 30%;	
}
#inputHoraFinE {
	width: 30%;
	margin-left: -9%;
	margin-top: 32%;
}
#lblNotas {
	margin-left: 0%;	
}
#inputNotas {
	width: 55%;
	height: 100%;
	margin-left: -21%;
	margin-right: 1%;
}
.botonAgregar {
	margin-left: 17%;
	margin-top: 7%;
	padding: 1%;
	height: 27%;
}	
}

