*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
	margin: 0;
}

header {
	width:100%;
}

.logo_main {
	height: 70px;
	padding: 20px;
	background-color: transparent;
	cursor: default;
}

#imagen_menu{
	height: 60px;
	width: 200px;
}

header nav {
	width:100%;
	max-width: 1000px;
	margin: 30px auto;
	background: -webkit-linear-gradient(top, #000 55%, #b224ef);
}

.menu_bar {
	display: none;
}

header nav ul {
	overflow: hidden;
	list-style: none;
	width: 100%;
}

header nav ul li{
	float: left;
	font-family: 'Nunito', sans-serif;
	font-size: 17px;
}

header nav ul li a{
	padding: 15px;
	display: block;
	text-decoration: none;
	font-family: 'Nunito', sans-serif;
	color: white;	
	margin-left: 80px;	
}

header nav ul li a:hover{
	background: white;	
	color: black;
	text-decoration: none;
}

/*********RESPONSIVO****************/

@media screen and (max-width: 800px){
header nav {
	width:50%;
	height: 100%;
	margin: 0;
	left: -100%;
	position: fixed;
	z-index: 1000;
}

.logo_main {
	height: 70px;
	padding: 8px;
	background-color: transparent;
	cursor: default;
}

header nav ul li{
	display: block;
	float: none;
	border-bottom: 1px solid rgba(255,255,255,.3);
}

header nav ul li{
	display: block;
	float: none;
	border-bottom: 1px solid rgba(255,255,255,.3);
}

header nav ul li a{
	margin-left: 2px;	
}

#imagen_menu{
	height: 50px;
	width: 180px;
}

.menu_bar {
	display: block;
	width: 100%;
	background:#ccc;
}

.menu_bar .bt-menu{
	display: block;
	padding: 20px;
	background: -webkit-linear-gradient(top, #000 55%, #b224ef);
	color: white;
	text-decoration: none;
	font-weight: bold;
	font-size: 20px;
	font-family: 'Nunito', sans-serif;
	-webkit-box-sizing:border-box; 
	-moz-box-sizing:border-box; 
	box-sizing:border-box; 
}

.menu_bar span {
	float:right;
	font-size: 30px;
}
}
