.container{
	display: flex;
	width: 90%;
	height: 700px;
	margin-top: 5%;
	margin-left: 20%;
	flex-wrap: wrap;
}

#opc_agenda{
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: white;
		height: 45%;
		width: 30%;
		border-radius: 6px;
		align-content: center;
		margin-top: 2%;
		margin-left: 3%;
	}

#opc_estetica{
		display: flex;
		flex-direction: column;
		align-items: center;
		align-content: center;
		background-color: white;
		height: 45%;
		width: 30%;
		border-radius: 6px;
		margin-top: 2%;
		margin-left: 2%;
	}

#opc_vacuna{
		background-color: white;
		height: 45%;
		width: 30%;
		display: flex;
		flex-direction: column;
		align-items: center;
		align-content: center;
		border-radius: 6px;
		align-content: center;
		margin-top: 2%;
		margin-left: 2%;
	}

#opc_desp{
		display: flex;
		flex-direction: column;
		align-items: center;
		align-content: center;
		background-color: white;
		height: 45%;
		width: 30%;
		border-radius: 6px;
		align-content: center;
		margin-top: 2%;
		margin-left: 3%;
	}

#opc_ecto{
		display: flex;
		flex-direction: column;
		align-items: center;
		align-content: center;
		background-color: white;
		vertical-align: center;
		height: 45%;
		width: 30%;
		border-radius: 6px;
		align-content: center;
		margin-top: 2%;
		margin-left: 2%;
	}

#opc_consulta{	
		background-color: white;
		height: 45%;
		width: 30%;
		border-radius: 6px;
		margin-top: 2%;
		margin-left: 2%;
	}

#a_consulta, #a_ecto, #a_desp, #a_vacuna, #a_estetica, #a_agenda {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 18%;
}

#titulo_citas, #titulo_est, #titulo_vac, #titulo_desp, #titulo_ecto, #titulo_consultas {
	margin-top: 10px;
	font-family: 'Nunito', sans-serif;  
  	font-size: 30px;
}

#img_cal, #img_est, #img_vac, #img_desp, #img_ecto, #img_inf{
	margin-top: 10px;
}


h1{
	text-align: center;
	color: black;
}

a {
	color: black;
	text-decoration: none;
}

@media (min-width: 1368px) and (max-width: 1567px){
	.container{
	height: 700px;
	margin-top: 10%;
	margin-left: 7%;
}

#img_cal, #img_est, #img_vac, #img_desp, #img_ecto, #img_inf{
height: 80px;
}

#opc_agenda, #opc_estetica, #opc_vacuna{
		height: 40%;
	}

#opc_desp, #opc_ecto, #opc_consulta {
		height: 40%;
		margin-top: 1%;
}

#titulo_citas, #titulo_est, #titulo_vac, #titulo_desp, #titulo_ecto, #titulo_consultas {
  	font-size: 20px;
}
}

@media (min-width: 1025px) and (max-width: 1367px){
	.container{
	height: 700px;
	margin-top: 10%;
	margin-left: 7%;
}

#img_cal, #img_est, #img_vac, #img_desp, #img_ecto, #img_inf{
height: 80px;
}

#opc_agenda, #opc_estetica, #opc_vacuna{
		height: 40%;
	}

#opc_desp, #opc_ecto, #opc_consulta {
		height: 40%;
		margin-top: 1%;
}

#titulo_citas, #titulo_est, #titulo_vac, #titulo_desp, #titulo_ecto, #titulo_consultas {
  	font-size: 20px;
}
}

@media (min-width: 850px) and (max-width: 1024px){
	.container{
	height: 700px;
	margin-top: 5%;
	margin-left: 10%;
}

#img_cal, #img_est, #img_vac, #img_desp, #img_ecto, #img_inf{
height: 80px;
}

#opc_agenda, #opc_estetica, #opc_vacuna{
		height: 35%;
	}

#opc_desp, #opc_ecto, #opc_consulta {
		height: 35%;
		margin-top: 1%;
}

#titulo_citas, #titulo_est, #titulo_vac, #titulo_desp, #titulo_ecto, #titulo_consultas {
  	font-size: 20px;
}
}

@media (min-width: 768px) and (max-width: 845px){
	.container{
	height: 700px;
	margin-top: 5%;
	margin-left: 5%;
	}

#img_cal, #img_est, #img_vac, #img_desp, #img_ecto, #img_inf{
height: 40px;
}

#opc_agenda, #opc_estetica, #opc_vacuna{
		height: 20%;
		margin-top: -5%;
	}

#opc_desp, #opc_ecto, #opc_consulta{
		height: 20%;
		margin-top: -40%;
}

#titulo_citas, #titulo_est, #titulo_vac, #titulo_desp, #titulo_ecto, #titulo_consultas {
  	font-size: 13px;
  	margin-top: -5%;
	}
}

/*Horizontales*/

@media (min-width: 655px) and (max-width: 767px){
	.container{
	height: 500px;
	margin-top: 5%;
	margin-left: 5%;
	margin-bottom: 5%;
	}

#img_cal, #img_est, #img_vac, #img_desp, #img_ecto, #img_inf{
height: 50px;
}

 #opc_estetica, #opc_vacuna, #opc_ecto, #opc_consulta{
		height: 30%;
		width: 32%;
		margin-top: -5%;
	}

#opc_agenda, #opc_desp {
	height: 30%;
	width: 32%;
	margin-left: 0%;
	margin-top: -5%;
}

#titulo_citas, #titulo_est, #titulo_vac, #titulo_desp, #titulo_ecto, #titulo_consultas {
  	font-size: 11px;
}

#a_consulta, #a_ecto, #a_desp, #a_vacuna, #a_estetica, #a_agenda {
	margin-top: 14%;
}

}


@media (min-width: 565px) and (max-width: 650px){
	.container{
	height: 700px;
	margin-top: 15%;
	margin-left: 5%;
}

#img_cal, #img_est, #img_vac, #img_desp, #img_ecto, #img_inf{
height: 60px;
}

#opc_agenda, #opc_estetica, #opc_vacuna{
		height: 25%;
		margin-top: -10%;
	}

#opc_desp, #opc_ecto, #opc_consulta{
		height: 25%;
		margin-top: -50%;
}	

#titulo_citas, #titulo_est, #titulo_vac, #titulo_desp, #titulo_ecto, #titulo_consultas {
  	font-size: 20px;
	}
}

@media (min-width: 416px) and (max-width: 564px){
	.container{
	height: 700px;
	margin-top: 15%;
	margin-left: 5%;
}

#img_cal, #img_est, #img_vac, #img_desp, #img_ecto, #img_inf{
height: 60px;
}

#opc_agenda, #opc_estetica, #opc_vacuna{
		height: 25%;
		margin-top: -10%;
	}

#opc_desp, #opc_ecto, #opc_consulta{
		height: 25%;
		margin-top: -70%;
}	

#titulo_citas, #titulo_est, #titulo_vac, #titulo_desp, #titulo_ecto, #titulo_consultas {
  	font-size: 13px;
	}
}


/*----Iphones y Sg7, 8,9*/
@media (min-width: 365px) and (max-width: 415px){
	.container{
	height: 300px;
	margin-top: 15%;
	margin-left: 5%;
	margin-bottom: 5%;
}

#img_cal, #img_est, #img_vac, #img_desp, #img_ecto, #img_inf{
height: 50px;
}

 #opc_estetica, #opc_vacuna, #opc_ecto, #opc_consulta{
		height: 45%;
		width: 32%;
		margin-top: -5%;
	}

#opc_agenda, #opc_desp {
	height: 45%;
	width: 32%;
	margin-left: 0%;
	margin-top: -5%;


}
#titulo_citas, #titulo_est, #titulo_vac, #titulo_desp, #titulo_ecto, #titulo_consultas {
  	font-size: 11px;
}

#a_consulta, #a_ecto, #a_desp, #a_vacuna, #a_estetica, #a_agenda {
	margin-top: 14%;
}

}

/*----------Iphone 5, Galaxy 5 ------*/
@media (max-width: 360px){
	.container{
	height: 300px;
	margin-top: 15%;
	margin-left: 5%;
	margin-bottom: 5%;
}

#img_cal, #img_est, #img_vac, #img_desp, #img_ecto, #img_inf{
height: 50px;
}

 #opc_estetica, #opc_vacuna, #opc_ecto, #opc_consulta{
		height: 40%;
		width: 32%;
	margin-top: -10%;
	}

#opc_agenda, #opc_desp {
	height: 40%;
	width: 31%;
	margin-left: 0%;
	margin-top: -10%;
}
#titulo_citas, #titulo_est, #titulo_vac, #titulo_desp, #titulo_ecto, #titulo_consultas {
  	font-size: 10px;
}

#a_consulta, #a_ecto, #a_desp, #a_vacuna, #a_estetica, #a_agenda {
		margin-top: 14%;
}

}