.contenedor_est {
 display: flex;
 flex-direction: column;
 background-color: white;
 border-radius: 10px;
 width: 99%;
 margin-left: 0.5%;
 margin-right: 0.5%;
 min-height: 900px; 
 margin-top: 1%;
 height: auto;
 padding-right: 0px;
 padding-left: 0px;
}

.header_titleE {
 display: -webkit-flex;
 display: -moz-box;
 display: -ms-flexbox;
 border-radius: 10px;
 background-color: #D6D5E1;
 height: 80px;
 width: 100%;
 align-items: center;
 justify-content: center;
 font-family: 'Nunito', sans-serif;  
 font-size: 30px;
 color:black;
}

#tbl_estetica {
  margin-top: 2%;
  height: 100%;
  width: 100%;
  text-align: center;
  border-top: 1px solid;
  border-color: #D6D5E1;
}

#tbl_headerE{
  border-top: 1px solid;
  border-color: #D6D5E1;
  text-align: center;
  font-family: 'Nunito', sans-serif;  
  font-size: 25px;
  width: 100%;
}

#c_fechaE{
  width: 10%;
  border: 1px solid;
  border-color: #D6D5E1;
}

#c_motivoE{
  width: 30%;
  margin-left: 2%;
  border: 1px solid;
  border-color: #D6D5E1;
}

#c_horaE{
  width: 10%;
  border: 1px solid;
  border-color: #D6D5E1;
}

#c_precio{
  width: 10%;
  border: 1px solid;
  border-color: #D6D5E1;
}

#c_notas{
  width: 15%;
  border: 1px solid;
  border-color: #D6D5E1;
}

#c_borrar{
  width: 2%;
  border: 1px solid;
  border-color: #D6D5E1;
}

#c_estado{
  width: 7%;
  border: 1px solid;
  border-color: #D6D5E1;
}
#c_estatus{
  width: 7%;
  border: 1px solid;
  border-color: #D6D5E1;
}

#c_terminar{
  width: 7%;
  border: 1px solid;
  border-color: #D6D5E1;
}

#enlace_est {
  color: black;
}

#enlace_est:hover {
  color: black;
  text-decoration: none;
}

.columnades, .columnaf, .columnah, .columnad, .columnai {
  font-family: 'Nunito', sans-serif;  
  font-size: 20px;
  border-bottom: 1px solid;
  border-color: #D6D5E1;
  text-align: left;
  margin-left: 2%;
}


#thead_estetica {
  width: 1000px;
  height: 250px;
  border-bottom: 1px solid;
  text-align: center;
  font-family: 'Nunito', sans-serif;  
  font-size: 20px;
  font-weight: lighter;
  border-color: #D6D5E1;

}

.botonAEst{
  font-family: 'Nunito', sans-serif;
  text-decoration: none;
  padding: 10px;
  font-size: 20px;
  margin-left: 90%;
  margin-top: 1%;  
  background-color: #D6D5E1;
  border-radius: 5px;
  
  border: 1px solid black;
}

#btnTerminar{
  font-family: 'Nunito', sans-serif;
  text-decoration: none;
  padding: 5px;
  font-size: 14px;
  color: black;
  margin-left: 15%;
  background-color: #D6D5E1;
  border-radius: 5px;
  border: 1px solid black;
}

#imgEstatus {
  margin-left: 40%;
}

@media (min-width: 1024px) and (max-width: 1366px){

  .contenedor_est {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    min-height: 900px; 
    height: auto;
    padding-right: 0px;
    padding-left: 0px;
  }

  .header_titleE {
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    border-radius: 10px;
    background-color: #D6D5E1;
    height: 80px;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-family: 'Nunito', sans-serif;  
    font-size: 30px;
    color:black;
  }

  #tbl_estetica {
    margin-top: 2%;
    height: 100%;
    width: 100%;
    text-align: center;
    border-top: 1px solid;
    border-color: #D6D5E1;
  }

  #tbl_headerE{
    border-top: 1px solid;
    border-color: #D6D5E1;
    text-align: center;
    font-family: 'Nunito', sans-serif;  
    font-size: 22px;
    width: 100%;
  }

  #c_fechaE{
    width: 10%;
    border: 1px solid;
    border-color: #D6D5E1;
  }

  #c_motivoE{
    width: 30%;
    margin-left: 2%;
    border: 1px solid;
    border-color: #D6D5E1;
  }

  #c_horaE{
    width: 10%;
    border: 1px solid;
    border-color: #D6D5E1;
  }

  #c_precio{
    width: 10%;
    border: 1px solid;
    border-color: #D6D5E1;
  }

  #c_notas{
    width: 15%;
    border: 1px solid;
    border-color: #D6D5E1;
  }

  #c_borrar{
    width: 2%;
    border: 1px solid;
    border-color: #D6D5E1;
  }

  #c_estado{
    width: 7%;
    border: 1px solid;
    border-color: #D6D5E1;
  }
  #c_estatus{
    width: 7%;
    border: 1px solid;
    border-color: #D6D5E1;
  }

  #c_terminar{
    width: 7%;
    border: 1px solid;
    border-color: #D6D5E1;
  }

  .columnades, .columnaf, .columnah, .columnad, .columnai {
    font-family: 'Nunito', sans-serif;  
    font-size: 15px;
    border-bottom: 1px solid;
    border-color: #D6D5E1;
    text-align: left;
    margin-left: 2%;
  }


  #thead_estetica {
    width: 1000px;
    height: 250px;
    border-bottom: 1px solid;
    text-align: center;
    font-family: 'Nunito', sans-serif;  
    font-size: 20px;
    font-weight: lighter;
    border-color: #D6D5E1;

  }

  .botonAEst{
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
    padding: 6px;
    font-size: 18px;
    margin-left: 85%;
    margin-top: 1%;  
    color: black;
    background-color: #D6D5E1;
    border-radius: 5px;
    border: 1px solid black;
  }

  #imgAdd {
    height: 18px;
    width: 18px;
  }

  #imgEstatus {
    height: 22px;
    width: 22px;
  }

  #imgTrash{
    height: 22px;
    width: 22px;
  }
}

@media(min-width: 768px) and (max-width: 1023px){
  .contenedor_est {
    margin-top: 10%;
  }

  .header_titleE {
    height: 60px;
    width: 100%;
    font-size: 23px;
  }

  #tbl_headerE{
    font-size: 20px;
    width: 100%;
  }

  .columnades, .columnaf, .columnah, .columnad, .columnai {
    font-size: 13px;
  }

  .botonAEst{
    padding: 6px;
    font-size: 17px;
    margin-left: 85%;  
  }

  #imgAdd {
    height: 18px;
    width: 18px;
  }

  #imgEstatus {
    height: 22px;
    width: 22px;
  }

  #imgTrash{
    height: 22px;
    width: 22px;
  }
}

@media(min-width: 568px) and (max-width: 767px){
  .contenedor_est {
    margin-top: 10%;
  }

  .header_titleE {
    height: 60px;
    width: 100%;
    font-size: 21px;
  }

  #tbl_headerE{
    font-size: 15px;
    width: 100%;
  }

  .columnades, .columnaf, .columnah, .columnad, .columnai {
    font-size: 12px;
  }

  .botonAEst{
    padding: 6px;
    font-size: 15px;
    margin-left: 80%;  
  }

  #imgAdd {
    height: 16px;
    width: 16px;
  }

  #imgEstatus {
    height: 22px;
    width: 22px;
  }

  #imgTrash{
    height: 22px;
    width: 22px;
  }
}

@media(min-width: 414px) and (max-width: 567px){
  .contenedor_est {
    margin-top: 10%;
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
  }

  .header_titleE {
    height: 40px;
    width: 100%;
    font-size: 15px;
  }

  #tbl_headerE{
    font-size: 14px;
    width: 100%;
  }

  .columnades, .columnaf, .columnah, .columnad, .columnai {
    font-size: 10px;
  }

  .botonAEst{
    padding: 3px;
    font-size: 11px;
    margin-left: 77%;  
  }

  #imgAdd {
    height: 14px;
    width: 14px;
  }

  #imgEstatus {
    height: 18px;
    width: 18px;
  }

  #imgTrash{
    height: 18px;
    width: 18px;
  }
}

@media(min-width: 360px) and (max-width: 413px){
  .contenedor_est {
    margin-top: 10%;
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
  }

  .header_titleE {
    height: 40px;
    width: 100%;
    font-size: 15px;
  }

  #tbl_headerE{
    font-size: 12px;
    width: 100%;
  }

  .columnades, .columnaf, .columnah, .columnad, .columnai {
    font-size: 8px;
    border: 1px solid #D6D5E1;
  }

  .botonAEst{
    padding: 4px;
    font-size: 12px;
    margin-left: 77%;  
  }

  #imgAdd {
    height: 12px;
    width: 12px;
  }

  #imgEstatus {
    height: 18px;
    width: 18px;
  }

  #imgTrash{
    height: 18px;
    width: 18px;
  }
}

@media(max-width: 359px){
  .contenedor_est {
    margin-top: 10%;
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
  }

  .header_titleE {
    height: 30px;
    border-radius: 6px;
    width: 100%;
    font-size: 13px;
  }

  #tbl_headerE{
    font-size: 10px;
    width: 100%;
  }

  .columnades, .columnaf, .columnah, .columnad, .columnai {
    font-size: 7px;
    border: 1px solid #D6D5E1;
  }

  .botonAEst{
    padding: 4px;
    font-size: 12px;
    margin-left: 77%;  
  }

  #imgAdd {
    height: 12px;
    width: 12px;
  }

  #imgEstatus {
    height: 16px;
    width: 16px;
  }

  #imgTrash{
    height: 16px;
    width: 16px;
  }
}


