.contenedor_p {
	display: flex;
 flex-direction: column;
 background-color: white;
 border-radius: 10px;
 width: 98%;
 margin-left: 1%;
 margin-right: 1%;
 min-height: 900px;
 height: auto; 

}

#simbolo_ac{
    height: 24px;
    color: black;
  }

.header_title {
	display: -webkit-box;
 display: -webkit-flex;
 display: -moz-box;
 display: -ms-flexbox;
 border-radius: 10px;
 background-color: #D6D5E1;
 height: 80px;
 width: 100%;
 align-items: center;
 justify-content: center;
 font-family: 'Nunito', sans-serif;  
 font-size: 30px;
 color:black;
}

#tbl_citas {
  margin-top: 2%;
  width: 100%;
  text-align: center;
  border: 1px solid;
  border-color: #D6D5E1;
}

#tbl_header{

  border: 1px solid;
  border-color: #D6D5E1;
  text-align: center;
  font-family: 'Nunito', sans-serif;  
  font-size: 25px;
  width: 100%;
}


#c_motivo{
  width: 45%;
  margin-left: 2%;
  border: 1px solid;
  border-color: #D6D5E1;
}

#c_fechaC{
  width: 25%;
  border: 1px solid;
  border-color: #D6D5E1;
}

#c_horaC{
  width: 25%;
  border: 1px solid;
  border-color: #D6D5E1;

}

#c_del{
  width: 5%;
  border: 1px solid;
  border-color: #D6D5E1;
}

.columnades, .columnaf, .columnah, .columnad {
  font-family: 'Nunito', sans-serif;  
  font-size: 20px;
  border-bottom: 1px solid;
  border-color: #D6D5E1;
  text-align: left;
  margin-left: 2%;
}


#thead_cita {
  width: 1000px;
  height: 250px;
  border-bottom: 1px solid;
  text-align: center;
  font-family: 'Nunito', sans-serif;  
  font-size: 20px;
  font-weight: lighter;
  border-color: #D6D5E1;
}

a {
  color: black;
}


#botonACita {
  font-family: 'Nunito', sans-serif;
  text-decoration: none;
  padding: 10px;
  font-size: 20px;
  margin-left: 90%;
  margin-top: 1%;  
  color: black;
  background-color: #D6D5E1;
  border-radius: 5px;
  border: 1px solid black;
}

@media (min-width: 1024px) and (max-width: 1366px){
  .contenedor_p {
    border-radius: 10px;
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    min-height: 900px;
    height: auto; 
  }

  #simbolo_ac{
    height: 15px;
  }

  .header_title {
    height: 80px;
    width: 100%;
    font-size: 30px;
  }

  #tbl_citas {
    margin-top: 2%;
    width: 100%;
  }

  #tbl_header{
    border: 1px solid;
    font-size: 23px;
    width: 100%;
  }


  #c_motivo{
    width: 45%;
    margin-left: 2%;
  }

  #c_fechaC{
    width: 25%;
  }

  #c_horaC{
    width: 25%;
  }

  #c_del{
    width: 5%;
  }

  .columnades, .columnaf, .columnah, .columnad {
    font-size: 20px;
    text-align: left;
    margin-left: 2%;
  }


  #thead_cita {
    width: 1000px;
    height: 250px;
    text-align: center;
    font-size: 20px;
    font-weight: lighter;
  }

  #botonACita {
    padding: 5px;
    font-size: 18px;
    margin-left: 85%;
    margin-top: 1%;  
    color: black;
  }
}

@media (min-width: 768px) and (max-width: 1023px){
  .contenedor_p {
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
  }

  #simbolo_ac{
    height: 15px;
  }

  .header_title {
    height: 60px;
    width: 100%;
    font-size: 30px;
  }

  #tbl_citas {
    margin-top: 2%;
    width: 100%;
  }

  #tbl_header{
    border: 1px solid;
    font-size: 20px;
    width: 100%;
  }


  #c_motivo{
    width: 45%;
    margin-left: 2%;
  }

  #c_fechaC{
    width: 25%;
  }

  #c_horaC{
    width: 25%;
  }

  #c_del{
    width: 5%;
  }

  .columnades, .columnaf, .columnah, .columnad {
    font-size: 20px;
    text-align: left;
    margin-left: 2%;
  }

  #lblCita {
    font-size: 25px;
  }


  #thead_cita {
    width: 1000px;
    height: 250px;
    text-align: center;
    font-size: 20px;
    font-weight: lighter;
  }

  #botonACita {
    padding: 5px;
    font-size: 18px;
    margin-left: 85%;
    margin-top: 1%;  
    color: black;
  }
}

@media (min-width: 568px) and (max-width: 767px){
  .contenedor_p {
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
  }

  #simbolo_ac{
    height: 14px;
  }

  .header_title {
    height: 60px;
    width: 100%;
  }

  #tbl_citas {
    margin-top: 2%;
    width: 100%;
  }

  #tbl_header{
    border: 1px solid;
    font-size: 19px;
    width: 100%;
  }


  #c_motivo{
    width: 45%;
    margin-left: 2%;
  }

  #c_fechaC{
    width: 25%;
  }

  #c_horaC{
    width: 25%;
  }

  #c_del{
    width: 5%;
  }

  .columnades, .columnaf, .columnah, .columnad {
    font-size: 20px;
    text-align: left;
    margin-left: 2%;
  }

  #lblCita {
    font-size: 23px;
  }


  #thead_cita {
    width: 1000px;
    height: 250px;
    text-align: center;
    font-size: 20px;
    font-weight: lighter;
  }

  #botonACita {
    padding: 5px;
    font-size: 17px;
    margin-left: 80%;
    margin-top: 1%;  
    color: black;
  }
}

@media (min-width: 414px) and (max-width: 567px){
  .contenedor_p {
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
  }

  #simbolo_ac{
    height: 14px;
  }

  .header_title {
    height: 45px;
    width: 100%;
  }

  #tbl_citas {
    margin-top: 2%;
    width: 100%;
  }

  #tbl_header{
    border: 1px solid;
    font-size: 15px;
    width: 100%;
  }


  #c_motivo{
    width: 45%;
    margin-left: 2%;
  }

  #c_fechaC{
    width: 25%;
  }

  #c_horaC{
    width: 25%;
  }

  #c_del{
    width: 5%;
  }

  .columnades, .columnaf, .columnah, .columnad {
    font-size: 20px;
    text-align: left;
    margin-left: 2%;
  }

  #lblCita {
    font-size: 19px;
  }


  #thead_cita {
    width: 1000px;
    height: 250px;
    text-align: center;
    font-size: 15px;
    font-weight: lighter;
  }

  #botonACita {
    padding: 3px;
    font-size: 14px;
    margin-left: 75%;
    margin-top: 1%;  
    color: black;
  }
}

@media (min-width: 360px) and (max-width: 413px){
  .contenedor_p {
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
  }

  #simbolo_ac{
    height: 13px;
  }

  .header_title {
    height: 40px;
    width: 100%;
  }

  #tbl_citas {
    margin-top: 2%;
    width: 100%;
  }

  #tbl_header{
    border: 1px solid;
    font-size: 14px;
    width: 100%;
  }


  #c_motivo{
    width: 45%;
    margin-left: 2%;
  }

  #c_fechaC{
    width: 25%;
  }

  #c_horaC{
    width: 25%;
  }

  #c_del{
    width: 5%;
  }

  .columnades, .columnaf, .columnah, .columnad {
    font-size: 20px;
    text-align: left;
    margin-left: 2%;
  }

  #lblCita {
    font-size: 17px;
  }


  #thead_cita {
    width: 1000px;
    height: 250px;
    text-align: center;
    font-size: 15px;
    font-weight: lighter;
  }

  #botonACita {
    padding: 3px;
    font-size: 13px;
    margin-left: 75%;
    margin-top: 1%;  
  }
}

  @media (max-width: 359px){
  .contenedor_p {
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
  }

  #simbolo_ac{
    height: 12px;
  }

  .header_title {
    height: 40px;
    width: 100%;
    border-radius: 5px;
  }

  #tbl_citas {
    margin-top: 2%;
    width: 100%;
  }

  #tbl_header{
    border: 1px solid;
    font-size: 14px;
    width: 100%;
  }


  #c_motivo{
    width: 45%;
    margin-left: 2%;
  }

  #c_fechaC{
    width: 25%;
  }

  #c_horaC{
    width: 25%;
  }

  #c_del{
    width: 5%;
  }

  .columnades, .columnaf, .columnah, .columnad {
    font-size: 20px;
    text-align: left;
    margin-left: 2%;
  }

  #lblCita {
    font-size: 17px;
  }


  #thead_cita {
    width: 1000px;
    height: 250px;
    text-align: center;
    font-size: 15px;
    font-weight: lighter;
  }

  #botonACita {
    padding: 3px;
    font-size: 12px;
    margin-left: 75%;
    margin-top: 1%;  
    color: black;
  }
}