.forma_principalE{
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  height: auto;
  min-height: 900px;
  width: 100%; 
  padding-right: 0px;
  padding-left: 0px;
}

.cabeceraE {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  border-radius: 10px;
  background-color: #D6D5E1;
  height: 80px;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-family: 'Nunito', sans-serif;  
  font-size: 30px;
  color:black;
}

#cabecera_tablaE {
  border-top: 1px solid;
  border-color: #D6D5E1;
  text-align: center;
  font-family: 'Nunito', sans-serif;  
  font-size: 23px;
  width: 100%;
}

#carnet_ecto {
  margin-top: 2%;
  width: 100%;
  text-align: center;
  border: 1px solid;
  border-color: #D6D5E1;
}

.columna1E, .columna2E, .columna3E, .columna4E, .columna5E, .columna6E, .columna7E, .columna8E {
  font-family: 'Nunito', sans-serif;  
  font-size: 20px;
  border-bottom: 1px solid;
  border-color: #D6D5E1;
  text-align: left;
}

#c_fechaD{
  width: 15%;
  border: 1px solid;
  border-color: #D6D5E1;

}

#c_descripcionD {
  width: 35%;
  border: 1px solid;
  border-color: #D6D5E1;
}

#c_proximaD {
  width: 20%;
  border: 1px solid;
  border-color: #D6D5E1;
}

#c_citaD{
  width: 10%;
  border: 1px solid;
  border-color: #D6D5E1;
}

#c_loteD{
  width: 8%; 
  border: 1px solid;
  border-color: #D6D5E1; 
}

#c_cadD{ 
  width: 10%;
  border: 1px solid;
  border-color: #D6D5E1; 
 }

.botonAddEcto {
  font-family: 'Nunito', sans-serif;
  text-decoration: none;
    padding: 10px;
    font-size: 20px;
    margin-left: 90%;
    margin-top: 1%;  
    color: black;
    background-color: #D6D5E1;
    border-radius: 5px;
    border: 1px solid black;
}
