
.forma_principal{
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  height: auto;
  min-height: 900px;
  width: 100%; 
  padding-right: 0px;
  padding-left: 0px;
}

.cabecera {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  border-radius: 10px;
  background-color: #D6D5E1;
  height: 80px;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-family: 'Nunito', sans-serif;  
  font-size: 30px;
  color:black;
}

#carnet_vacuna {
  margin-top: 2%;
  height: 100%;
  width: 100%;
  text-align: center;
  border-top: 1px solid;
  border-color: #D6D5E1;
}

#cabecera_tabla {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  border-top:-0.5px solid;
  border-color: #D6D5E1;
  text-align: center;
  font-family: 'Nunito', sans-serif;  
  font-size: 23px;
  height: 50px;
}

#contenedor_cabecera {
  width: 1000px;
  border-bottom: .5px solid;
  text-align: center;
  font-family: 'Nunito', sans-serif;  
  font-size: 23px;
  font-weight: lighter;
  border-color: #D6D5E1;
}

.columna1, .columna2, .columna3, .columna4, .columna5, .columna6, .columna7, .columna8 {
  font-family: 'Nunito', sans-serif;  
  font-size: 20px;
  border-bottom: 1px solid;
  border-color: #D6D5E1;
  text-align: left;
}

#c_fecha{
  width: 15%;
  border: 1px solid;
  border-color: #D6D5E1;
  height: auto;
}

#c_descripcion {
  width: 25%;
  border: 1px solid;
  border-color: #D6D5E1;
  height: auto;

}

#c_proxima {
  width: 25%;
  border: 1px solid;
  border-color: #D6D5E1;
  height: auto;

}

#c_peso {
  width: 5%;
  border: 1px solid;
  border-color: #D6D5E1;
  height: auto;

}

#c_cita {
  width: 12%;
  border: 1px solid;
  border-color: #D6D5E1;
  height: auto;

}

#c_lote {
  width: 8%; 
  border: 1px solid;
  border-color: #D6D5E1; 
  height: auto;

}

#c_cad{ 
  width: 20%;
  border: 1px solid;
  border-color: #D6D5E1; 
  height: auto;

 }


.botonAddVacuna {
  font-family: 'Nunito', sans-serif;
  text-decoration: none;
    padding: 10px;
    font-size: 20px;
    margin-left: 90%;
    margin-top: 1%;  
    color: black;
    background-color: #D6D5E1;
    border-radius: 5px;
    border: 1px solid #D6D5E1;
}
