.container {
	display: flex;
	flex-direction: column;
	background-color: white;
	border-radius: 10px;
	height: 710px;
	width: 90%;	
	padding-right: 0px;
	padding-left: 0px;
	}

.container_Desp {
	display: flex;
	flex-direction: column;
	background-color: white;
	border-radius: 10px;
	height: 690px;
	width: 90%;	
	margin-left: auto;
	margin-right: auto;
	padding-right: 0px;
	padding-left: 0px;
	}

.container_ecto {
	display: flex;
	flex-direction: column;
	background-color: white;
	border-radius: 10px;
	height: 690px;
	width: 80%;	
	margin-left: auto;
	margin-right: auto;
	padding-right: 0px;
	padding-left: 0px;
	}


.contenedor-titulo {
	display: -webkit-box;
  	display: -webkit-flex;
  	display: -moz-box;
  	display: -ms-flexbox;
	border-radius: 10px;
	background-color: #D6D5E1;
	height: 80px;
	width: 100%;
	align-items: center;
	justify-content: center;
	font-family: 'Nunito', sans-serif;	
	font-size: 30px;
	color:white;
	background-image: url(img/header-midnightBlue.jpg);
}

#div-border {
    position:absolute;
    margin-left:600px;
    margin-right:50%;
    height:620px;
    background-color: #D6D5E1;
    border:.5px solid black;
}
.form_add_cita {
	height: 715px;
}

#contenedor{
	width: 100%;
	display: inline;
	background-color: green;
}

.form-leftV {
	height: 645px;
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content:space-around;
	float: left;
	border-right: 0.5px solid;
	border-top: 0.5px solid;
	border-color: #D6D5E1;
}

.form-leftD {
	height: 650px;
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content:space-around;
	float: left;
	border-right: 0.5px solid;
	border-top: 0.5px solid;
	border-color: #D6D5E1;
}

.form-leftE {
	height: 634px;
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content:space-around;
	float: left;
	border-right: 0.5px solid;
	border-top: 0.5px solid;
	border-color: #D6D5E1;
}

.botonAtrasVG {
	font-family: 'Nunito', sans-serif;
	text-decoration: none;
    padding: 5px;
    font-size: 20px;
    margin-top: 1%;
    color: black;  
    background-color: #D6D5E1;
    border-radius: 6px;
    width: 7%;
    border: 1px solid #8585ad;
}

.botonAtrasDG {
	font-family: 'Nunito', sans-serif;
	text-decoration: none;
    padding: 5px;
    font-size: 20px;
    margin-top: 1%;
    color: black;
    border-radius: 6px;
    width: 7%;
    background-color: #D6D5E1;
    border: 1px solid #8585ad;
}

.botonAtrasEctoG {
	font-family: 'Nunito', sans-serif;
	text-decoration: none;
    padding: 5px;
    font-size: 20px;
    margin-top: 1%;
    color: black;
    border-radius: 6px;
    width: 5%;
    background-color: #D6D5E1;
    border: 1px solid #8585ad;
}

#contenedor .form-left label{
	float: left;
}

.form-rightV {
	height: 640px;
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content:space-around;
	float: left;
	border-top: 0.5px solid;
	border-color: #D6D5E1;
}

.form-rightE {
	height: 625px;
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content:space-around;
	float: left;
	border-top: 0.5px solid;
	border-color: #D6D5E1;
}

.form-rightD {
	height: 645px;
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content:space-around;
	float: left;
	border-top: 0.5px solid;
	border-color: #D6D5E1;
}
/*Titulo pagina*/
#titulo-pagina {
  	font-family: 'Nunito', sans-serif;	
	margin-top: 30px;
	font-size: 35px;
	color:white;
	text-align: center;
}

#titulo-paginaE {
  	font-family: 'Nunito', sans-serif;	
	margin-top: 30px;
	font-size: 35px;
	color:white;
	text-align: center;
}

/*Inputs*/

#inputfecha{
	font-family: 'Nunito', sans-serif;
	font-size: 15px;
	width: 300px;
	height: 40px;
	border-radius: 10px;
	border: 3px solid #40444745;
	color: gray;
}


#inputFechaE{
	font-family: 'Nunito', sans-serif;
	font-size: 15px;
	width: 300px;
	height: 40px;
	border-radius: 10px;
	border: 3px solid #40444745;
	color: gray;
}

#inputLab{
	font-family: 'Nunito', sans-serif;
	font-size: 15px;
	width: 300px;
	height: 40px;
	border-radius: 10px;
	padding: 6px;
	border: 3px solid #40444745;
	color: gray;

}

#inputProducto {
	font-family: 'Nunito', sans-serif;
	font-size: 15px;
	width: 300px;
	height: 40px;
	border-radius: 10px;
	padding: 6px;
	border: 3px solid #40444745;
	color: gray;

}

#inputLote{
	font-family: 'Nunito', sans-serif;
	font-size: 15px;
	width: 300px;
	height: 40px;
	border-radius: 10px;
	padding: 6px;
	border: 3px solid #40444745;
	color: gray;
}

#inputLoteVac{
	font-family: 'Nunito', sans-serif;
	font-size: 15px;
	width: 300px;
	height: 40px;
	border-radius: 10px;
	padding: 6px;
	border: 3px solid #40444745;
	color: gray;
}

#inputLoteEcto{
	font-family: 'Nunito', sans-serif;
	font-size: 15px;
	width: 300px;
	height: 40px;
	color: gray;
	border-radius: 10px;
	padding: 6px;
	border: 3px solid #40444745;
}

#inputPrecio{
	font-family: 'Nunito', sans-serif;
	font-size: 15px;
	width: 300px;
	height: 40px;
	border-radius: 10px;
	border: 3px solid #40444745;
	color: gray;
}

#inputPrecioVac{
	font-family: 'Nunito', sans-serif;
	font-size: 15px;
	width: 300px;
	height: 40px;
	border-radius: 10px;
	border: 3px solid #40444745;
	color: gray;
}

#inputFechaCad{
	font-family: 'Nunito', sans-serif;
	font-size: 15px;
	width: 300px;
	height: 40px;
	border-radius: 10px;
	border: 3px solid #40444745;
	color: gray;
}

#inputProxima{
	font-family: 'Nunito', sans-serif;
	font-size: 15px;
	width: 300px;
	height: 40px;
	border-radius: 10px;
	padding: 6px;
	border: 3px solid #40444745;
	color: gray;
}

#inputPeso{
	font-family: 'Nunito', sans-serif;
	font-size: 15px;
	width: 300px;
	height: 40px;
	border-radius: 10px;
	border: 3px solid #40444745;
	color: gray;
}

#inputPesoD{
	font-family: 'Nunito', sans-serif;
	font-size: 15px;
	width: 60px;
	height: 40px;
	border-radius: 10px;
	padding: 6px;
	border: 3px solid #40444745;
	color: gray;
}

#inputCantidad{
	font-family: 'Nunito', sans-serif;
	font-size: 15px;
	width: 60px;
	height: 40px;
	border-radius: 10px;
	padding: 6px;
	border: 3px solid #40444745;
	color: gray;
}

#inputCantidadD{
	font-family: 'Nunito', sans-serif;
	font-size: 15px;
	width: 60px;
	height: 35px;
	border-radius: 10px;
	padding: 6px;
	border: 3px solid #40444745;
	color: gray;
}

#inputProductoD{
	font-family: 'Nunito', sans-serif;
	font-size: 15px;
	width: 300px;
	height: 40px;
	border-radius: 10px;
	padding: 6px;
	color: gray;
	border: 3px solid #40444745;
}

#inputProductoE, #inputPrecioE, #inputFechaCadE, #motivoCitaE, #inputFechaE, #inputProximaE, #inputHoraCitaE, #fechaCitaE{
	font-family: 'Nunito', sans-serif;
	font-size: 15px;
	width: 300px;
	height: 40px;
	border-radius: 10px;
	padding: 6px;
	color: gray;
	border: 3px solid #40444745;
}


#inputHoraCita{
	font-family: 'Nunito', sans-serif;
	font-size: 15px;
	width: 200px;
	height: 40px;
	border-radius: 10px;
	border: 3px solid #40444745;
	color: gray;
}

#inputHoraCitaD{
	font-family: 'Nunito', sans-serif;
	font-size: 15px;
	width: 200px;
	height: 40px;
	border-radius: 10px;
	border: 3px solid #40444745;
	color: gray;
}

#motivoCita{
	font-family: 'Nunito', sans-serif;
	font-size: 15px;
	width: 300px;
	height: 40px;
	border-radius: 10px;
	border: 3px solid #40444745;
	text-transform: uppercase;
	color: gray;
}

#fechaCita{
	font-family: 'Nunito', sans-serif;
	font-size: 15px;
	width: 200px;
	height: 40px;
	border-radius: 10px;
	border: 3px solid #40444745;
	color: gray;
}

#fechaCitaD{
	font-family: 'Nunito', sans-serif;
	font-size: 15px;
	width: 200px;
	height: 40px;
	border-radius: 10px;
	border: 3px solid #40444745;
	color: gray;
}

#inputCitaP{
	font-family: 'Nunito', sans-serif;
	font-size: 15px;
	width:15px;
	margin-left: 5px;
	height:15px;
}

#inputAnter{
	font-family: 'Nunito', sans-serif;
	font-size: 15px;
	width:20px;
	margin-left: 5px;
	height:20px;
}

#despAnt {
	font-family: 'Nunito', sans-serif;
	font-size: 15px;
	width:15px;
	margin-left: 5px;
	height:15px;
}

#ectoAnt{
	font-family: 'Nunito', sans-serif;
	font-size: 15px;
	width:15px;
	margin-left: 5px;
	height:15px;
}

/*Input desparasitacion*/
#inputFechaD, #inputProductoDesp, #inputProductoDespa, #inputPrecioD, #inputFechaCadD,
#inputLoteD, #inputPesoD
{
	font-family: 'Nunito', sans-serif;
	font-size: 15px;
	width: 300px;
	height: 35px;
	border-radius: 10px;
	border: 3px solid #40444745;
	text-transform: uppercase;
	color: gray;
}

#selectPacienteD {	
	font-family: 'Nunito', sans-serif;
	font-size: 15px;
	width: 300px;
	height: 40px;
	margin-top: 0%;
	margin-left: 1%;

	border-radius: 10px;
	padding: 6px;
	border: 3px solid #40444745;
	color: gray;
}

#lblPacientesD{
	font-family: 'Nunito', sans-serif;
	margin-left: 37%;
	margin-top: 0%;
	font-size: 23px;
}

/***************************************** Checkbox style **********************************************************/

/***************************************** Checkbox style **********************************************************/

/***************************************** Checkbox style **********************************************************/

@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');
body {
    font-family: 'Roboto', sans-serif;
  }

.card {
    width: 500px;
    margin: 50px auto;
    clear: both;
    display: block;
    padding: 0px 0px;
    background-color: #fff;
    border-radius: 4px;
}
.card::after {
    clear: both;
    display: block;
    content: "";
}
.card .checkbox-container {
    float: left;
    width: 50%;
    box-sizing: border-box;
    text-align:center;
  padding: 40px 0px;
}
.card .circular-container {
  background-color:#0067FF;
}

.input-title {
    clear: both;
    padding: 22px 0px 0px 0px;
    font-size: 16px;
    color: rgba(255,255,255,.6);
    font-weight: 300;
}


/* Styling Checkbox Starts */
.checkbox-label {
    display: block;
    position: relative;
    margin: auto;
    cursor: pointer;
    font-size: 22px;
    line-height: 24px;
    height: 24px;
    width: 24px;
    clear: both;
}

.checkbox-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkbox-label .checkbox-custom {
    position: absolute;
    top: -73px;
    left: 107px;
    height: 24px;
    width: 24px;
    margin-left: 15px;
    background-color: #B8B8B8;
    border-radius: 5px;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    border: 2px solid #FFFFFF;
}


.checkbox-label input:checked ~ .checkbox-custom {
    background-color: #000;
    border-radius: 5px;
    -webkit-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
    opacity:1;
    border: 2px solid #FFFFFF;
}


.checkbox-label .checkbox-custom::after {
    position: absolute;
    content: "";
    left: 12px;
    top: 12px;
    height: 0px;
    width: 0px;
    border-radius: 5px;
    border: solid #009BFF;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(0deg) scale(0);
    -ms-transform: rotate(0deg) scale(0);
    transform: rotate(0deg) scale(0);
    opacity:1;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}


.checkbox-label input:checked ~ .checkbox-custom::after {
  -webkit-transform: rotate(45deg) scale(1);
  -ms-transform: rotate(45deg) scale(1);
  transform: rotate(45deg) scale(1);
  opacity:1;
  left: 8px;
  top: 3px;
  width: 6px;
  height: 12px;
  border: solid #009BFF;
  border-width: 0 2px 2px 0;
  background-color: transparent;
  border-radius: 0;
}



/* For Ripple Effect */
.checkbox-label .checkbox-custom::before {
    position: absolute;
    content: "";
    left: 10px;
    top: 10px;
    width: 0px;
    height: 0px;
    border-radius: 5px;
    border: 2px solid #FFFFFF;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);    
}

.checkbox-label input:checked ~ .checkbox-custom::before {
    left: -3px;
    top: -3px;
    width: 24px;
    height: 24px;
    border-radius: 5px;
    -webkit-transform: scale(3);
    -ms-transform: scale(3);
    transform: scale(3);
    opacity:0;
    z-index: 999;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}

/***************************************** End Checkbox style **********************************************************/

/***************************************** End Checkbox style **********************************************************/

/***************************************** End Checkbox style **********************************************************/



#selectProxima{
	font-family: 'Nunito', sans-serif;
	font-size: 15px;
	width:300px;
	height:40px;
}

/*Labels*/

#lblPacientesV{
	font-family: 'Nunito', sans-serif;
	margin-left: 30%;
	margin-top: 0%;
	font-size: 23px;
}

#lblPacientesE{
	font-family: 'Nunito', sans-serif;
	margin-left: 30%;
	margin-top: 0%;
	font-size: 23px;
}

#selectPacienteV {	
	font-family: 'Nunito', sans-serif;
	font-size: 15px;
	width: 300px;
	height: 40px;
	margin-top: 2%;
	margin-left: 1%;
	border-radius: 10px;
	padding: 6px;
	border: 3px solid #40444745;
	color: gray;
}

#selectPacienteE {	
	font-family: 'Nunito', sans-serif;
	font-size: 15px;
	width: 400px;
	height: 40px;
	margin-top: 1%;
	margin-left: 1%;
	border-radius: 10px;
	padding: 6px;
	border: 3px solid #40444745;
	color: gray;
}

#lblFecha {
	font-family: 'Nunito', sans-serif;
	font-size: 23px;
}

#lblLab{
	font-family: 'Nunito', sans-serif;
	font-size: 23px;
}

#lblProducto{
	font-family: 'Nunito', sans-serif;
	font-size: 23px;
}

#lblLote{
	font-family: 'Nunito', sans-serif;
	font-size: 23px;
}

#lblPeso{
	font-family: 'Nunito', sans-serif;
	font-size: 23px;
}

#lblPrecio{
	font-family: 'Nunito', sans-serif;
	font-size: 23px;
}

#lblFechaCad{
	font-family: 'Nunito', sans-serif;
	font-size: 23px;
}

#lblCitaP{
	font-family: 'Nunito', sans-serif;
	font-size: 23px;
}

#lblCitaPD{
	font-family: 'Nunito', sans-serif;
	font-size: 23px;
}

#lblFechaCita{
	font-family: 'Nunito', sans-serif;
	font-size: 23px;
}

#lblFechaCitaD{
	font-family: 'Nunito', sans-serif;
	font-size: 23px;
}

#lblHoraCita{
	font-family: 'Nunito', sans-serif;
	font-size: 23px;
}

#lblHoraCitaD{
	font-family: 'Nunito', sans-serif;
	font-size: 23px;
}

#lblPesoD{
	font-family: 'Nunito', sans-serif;
	font-size: 23px;
}

#lblCantidad{
	font-family: 'Nunito', sans-serif;
	font-size: 23px;
}

#lblVacAnter{
	font-family: 'Nunito', sans-serif;
	font-size: 23px;
}

#lblEctoAnt{
	font-family: 'Nunito', sans-serif;
	font-size: 23px;
}


/*Botones*/

.boton {
 	font-family: 'Nunito', sans-serif;
	text-decoration: none;
    padding: 10px;
    font-size: 20px;
    color: black;
    background-color: #D6D5E1;
    border-radius: 6px;
    border: 2px solid #8585ad;
}

#lblFechaD, #lblProductoDes, #lblProductoDespa, #lblLoteD, #lblPesoD, #lblPrecioD, #lblFechaCadD, #lblCitaPD, #lblHoraCitaD, #lblCantidadD,
 #lblFechaCitaD, #lblDespAnt, #ectoAnt {
	font-size: 20px;
}

#div_atrasE {
	height: 50px;
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: row;
	align-content: center;
	align-items: center;
	justify-content: center;
}

#div_atrasV {
	height: 50px;
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: row;
	align-content: center;
	align-items: center;
	justify-content: center;
}


@media(min-width: 1024px) and (max-width: 1366px){
.container {
	height: 510px;
	}

.container_ecto {
	height: 580px;
	}

.container_Desp {
	height: 600px;
	}

.form-rightV {
	height: 465px;
}

.form-leftV {
	height: 465px;
}

.form-rightD {
	height: 535px;
}

.form-leftD {
	height: 540px;
}

.form-rightE {
	height: 530px;
}

.form-leftE {
	height: 527px;
}
/*Titulo pagina*/
#titulo-pagina {
	margin-top: 30px;
	font-size: 20px;
	color:white;
	text-align: center;
}

/*Inputs*/

#inputfecha, #inputFechaD, #inputLab, #inputProducto, #inputProductoDesp, #inputProductoDespa, #inputPrecioD, #inputLoteD, #inputLoteVac, #inputPrecioVac, #inputFechaCad, #inputPeso, 
#inputProxima, #inputPesoD, #inputCantidad, #inputCantidadD, #inputProductoD, #inputHoraCita, #inputFechaCadD,
#motivoCita, #fechaCita, #inputLoteEcto {
	font-size: 14px;
	width: 240px;
	height: 30px;
	padding: 1px;
}

#despAnt{
	height: 15px;
	width: 15px;
}

#inputLote, #inputPrecio{
font-size: 14px;
	width: 240px;
	height: 30px;
	padding: 1px;
}
#inputProductoE, #inputLoteEcto, #inputFechaCadE, #inputPrecioE, #inputFechaE, #inputProximaE, #inputHoraCitaE,
 #fechaCitaE, #motivoCitaE{
	font-size: 14px;
	width: 220px;
	height: 30px;
	padding: 1px;
}

#inputCitaP{
	font-family: 'Nunito', sans-serif;
	font-size: 15px;
	width:15px;
	margin-left: 5px;
	height:15px;
}

#selectProxima{
	font-family: 'Nunito', sans-serif;
	font-size: 15px;
	width:300px;
	height:40px;
}

#lblPacientesV{
	font-family: 'Nunito', sans-serif;
	margin-left: 12%;
	margin-top: 1%;
	font-size: 18px;
}

#lblPacientesD{
	font-family: 'Nunito', sans-serif;
	margin-left: 28%;
	margin-top: 1%;
	font-size: 18px;
}

#lblPacientesE{
	font-family: 'Nunito', sans-serif;
	margin-left: 28%;
	margin-top: 1%;
	font-size: 18px;
}


#selectPacienteV {	
	font-family: 'Nunito', sans-serif;
	font-size: 13px;
	width: 240px;
	height: 30px;
	margin-top: 2%;
	margin-left: 1%;
	border-radius: 10px;
	padding: 1px;
}

#selectPacienteD {	
	font-size: 13px;
	width: 300px;
	height: 30px;
	margin-top: 2%;
	margin-left: 1%;
	border-radius: 10px;
	padding: 1px;
}

#selectPacienteE {	
	font-size: 13px;
	width: 300px;
	height: 30px;
	margin-top: 2%;
	margin-left: 1%;
	border-radius: 10px;
	padding: 1px;
}



#lblFecha, #lblFechaD, #lblLab, #lblProducto, #lblProductoDes, #lblProductoDespa, #lblLote, #lblLoteD, #lblPrecioD, #lblPeso, #lblProducto, #lblLote, #lblPeso,
 #lblPrecio, #lblFechaCad, #lblFechaCadD, #lblCitaP, #lblFechaCita, #lblHoraCita, #lblPesoD, #lblCantidad, #lblCantidadD, 
 #lblFechaCitaD, #lblHoraCitaD, #lblCitaPD, #lblVacAnter, #ectoAnt, #lblDespAnt, #lblEctoAnt {
	font-size: 16px;
}

.boton {
    padding: 6px;
    font-size: 14px;
}

.botonAtrasVG {
	font-family: 'Nunito', sans-serif;
	text-decoration: none;
    padding: 5px;
    font-size: 14px;
    margin-top: 1%;
    border-radius: 6px;
    width: 10%;
    border: 1px solid #0016b0;
}

.botonAtrasDG, .botonAtrasEctoG {
	font-family: 'Nunito', sans-serif;
	text-decoration: none;
    padding: 5px;
    font-size:14px;
    margin-top: 1%;
    border-radius: 6px;
    width: 12%;
    border: 1px solid #0016b0;
}

#div_atrasV {
	height: 50px;
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: row;
	align-content: center;
	align-items: center;
	justify-content: center;
}

}

@media(min-width: 768px) and (max-width: 1023px){
#lblPacientesV{
	margin-left: 20%;
	margin-top: 0%;
	font-size: 23px;
}

#despAnt {
	font-size: 15px;
	width:15px;
	height:15px;
}

#selectPacienteE {	
	font-family: 'Nunito', sans-serif;
	font-size: 15px;
	width: 300px;
	height: 40px;
	margin-top: 1%;
	margin-left: 1%;
	border-radius: 10px;
	padding: 6px;
	border: 3px solid #40444745;
	color: gray;
}

#selectPacienteV {	
	margin-top: 0.5%;
}


#lblPacientesE{
	margin-left: 20%;
	margin-top: 0%;
	font-size: 23px;
}

.container_ecto {
	height: 680px;
	}

	.boton {
    padding: 6px;
    font-size: 14px;
}

.form-rightV {
	height: 650px;
}

.form-leftV {
	height: 665px;
}

.form-rightE {
	height: 632px;
}

.form-leftE {
	height: 632px;
}

#lblPacientesD{
	margin-left: 20%;
	margin-top: 0%;
	font-size: 23px;
}

#titulo-pagina {
	margin-top: 8%;
}

#titulo-paginaE {
	margin-top: 3%;
}

#inputProductoE, #inputLoteEcto, #inputFechaCadE, #inputPrecioE, #inputFechaE, #inputProximaE, #inputHoraCitaE,
 #fechaCitaE, #motivoCitaE{
	font-size: 14px;
	width: 230px;
	height: 30px;
	padding: 1px;
}

.botonAtrasVG {
    font-size: 20px;
    margin-top: 1%;
    width: 10%;
}

.botonAtrasDG {
    width: 10%;
}

.botonAtrasEctoG {
    font-size: 16px;
    width: 10%;
}


#div_atrasV {
	height: 50px;
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: row;
	align-content: center;
	align-items: center;
	justify-content: center;
}
}

@media(min-width: 568px) and (max-width: 767px){
.container {
	height: 510px;
	}

.container_ecto {
	height: 580px;
	}

.container_Desp {
	height: 580px;
	}

.form-rightV {
	height: 465px;
}

.form-leftV {
	height: 465px;
}

.form-rightD {
	height: 535px;
}

.form-leftD {
	height: 535px;
}

.form-rightE {
	height: 536px;
}

.form-leftE {
	height: 536px;
}
/*Titulo pagina*/
#titulo-pagina {
	margin-top: 30px;
	font-size: 20px;
	color:white;
	text-align: center;
}

/*Inputs*/

#inputfecha, #inputFechaD, #inputLab, #inputProducto, #inputProductoDesp, #inputProductoDespa, #inputPrecioD, #inputLoteD, #inputLoteVac, #inputPrecioVac, #inputFechaCad, #inputPeso, 
#inputProxima, #inputPesoD, #inputCantidad, #inputCantidadD, #inputProductoD, #inputHoraCita, #inputFechaCadD,
#motivoCita, #fechaCita, #inputLoteEcto {
	font-size: 14px;
	width: 240px;
	height: 30px;
	padding: 1px;
}

#despAnt{
	height: 15px;
	width: 15px;
}

#inputLote, #inputPrecio{
font-size: 14px;
	width: 240px;
	height: 30px;
	padding: 1px;
}
#inputProductoE, #inputLoteEcto, #inputFechaCadE, #inputPrecioE, #inputFechaE, #inputProximaE, #inputHoraCitaE,
 #fechaCitaE, #motivoCitaE{
	font-size: 14px;
	width: 220px;
	height: 30px;
	padding: 1px;
}

#inputCitaP{
	font-family: 'Nunito', sans-serif;
	font-size: 15px;
	width:15px;
	margin-left: 5px;
	height:15px;
}

#selectProxima{
	font-family: 'Nunito', sans-serif;
	font-size: 15px;
	width:300px;
	height:40px;
}

#lblPacientesV{
	font-family: 'Nunito', sans-serif;
	margin-left: 12%;
	margin-top: 1%;
	font-size: 18px;
}

#lblPacientesD{
	font-family: 'Nunito', sans-serif;
	margin-left: 12%;
	margin-top: 1%;
	font-size: 18px;
}

#lblPacientesE{
	font-family: 'Nunito', sans-serif;
	margin-left: 8%;
	margin-top: 1%;
	font-size: 18px;
}


#selectPacienteV {	
	font-family: 'Nunito', sans-serif;
	font-size: 13px;
	width: 240px;
	height: 30px;
	margin-top: 2%;
	margin-left: 1%;
	border-radius: 10px;
	padding: 1px;
}

#selectPacienteD {	
	font-size: 13px;
	width: 300px;
	height: 30px;
	margin-top: 2%;
	margin-left: 1%;
	border-radius: 10px;
	padding: 1px;
}

#selectPacienteE {	
	font-size: 13px;
	width: 300px;
	height: 30px;
	margin-top: 2%;
	margin-left: 1%;
	border-radius: 10px;
	padding: 1px;
}



#lblFecha, #lblFechaD, #lblLab, #lblProducto, #lblProductoDes, #lblProductoDespa, #lblLote, #lblLoteD, #lblPrecioD, #lblPeso, #lblProducto, #lblLote, #lblPeso,
 #lblPrecio, #lblFechaCad, #lblFechaCadD, #lblCitaP, #lblFechaCita, #lblHoraCita, #lblPesoD, #lblCantidad, #lblCantidadD, 
 #lblFechaCitaD, #lblHoraCitaD, #lblCitaPD, #lblVacAnter, #ectoAnt, #lblDespAnt, #lblEctoAnt {
	font-size: 16px;
}

.boton {
    padding: 6px;
    font-size: 14px;
}

.botonAtrasVG {
    padding: 5px;
    font-size: 14px;
    margin-top: 1%;
    border-radius: 6px;
    width: 10%;
    border: 1px solid #0016b0;
}

.botonAtrasDG, .botonAtrasEctoG {
    padding: 5px;
    font-size:14px;
    margin-top: 1%;
    border-radius: 6px;
    width: 12%;
    border: 1px solid #0016b0;
}

#div_atrasV {
	height: 50px;
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: row;
	align-content: center;
	align-items: center;
	justify-content: center;
}

}

@media(min-width: 411px) and (max-width: 567px){
.container {
	height: 510px;
	}

.container_Desp {
	height: 500px;
	}

.container_ecto {
	height: 500px;
	}

.form-rightV {
	height: 475px;
}

.form-leftV {
	height: 475px;
}

.form-rightD {
	height: 465px;
}

.form-leftD {
	height: 465px;
}

.form-rightE {
	height: 465px;
}

.form-leftE {
	height: 465px;
}
/*Titulo pagina*/
#titulo-pagina {
	margin-top: 10px;
	font-size: 20px;
	color:white;
	text-align: center;
}

#titulo-paginaE {
	margin-top: 5px;
	font-size: 15px;
	color:white;
	text-align: center;
}

/*Inputs*/

#inputfecha, #inputLab, #inputProducto, #inputLoteVac, #inputPrecioVac, #inputFechaCad, #inputPeso, 
#inputProxima, #inputPesoD, #inputCantidad, #inputCantidadD, #inputProductoD, #inputHoraCita,
#motivoCita, #fechaCita, #inputLote, #inputPrecio, #inputHoraCitaD, #fechaCitaD, #inputLoteEcto{
	font-size: 12px;
	width: 160px;
	height: 30px;
	padding: 1px;
}

#inputFechaD, #inputProductoDespa, #inputProductoDesp, #inputLoteD, #inputCantidadD, #inputPrecioD, #inputFechaCadD, 
#inputProxima, #inputPesoD, #inputCantidad, #inputCantidadD, #inputProductoD, #inputHoraCita,
#motivoCita, #fechaCita, #inputLote, #inputPrecio, #inputHoraCitaD, #fechaCitaD, #inputLoteEcto{
	font-size: 12px;
	width: 160px;
	height: 30px;
	padding: 1px;
}

#inputProductoE, #inputLoteEcto, #inputFechaCadE, #inputPrecioE, #inputFechaE, #inputProximaE, #inputHoraCitaE,
 #fechaCitaE, #motivoCitaE{
	font-size: 12px;
	width: 150px;
	height: 30px;
	padding: 1px;
}

#inputCitaP{
	font-family: 'Nunito', sans-serif;
	font-size: 15px;
	width:15px;
	margin-left: 5px;
	height:15px;
}

#selectProxima{
	font-family: 'Nunito', sans-serif;
	font-size: 15px;
	width:300px;
	height:40px;
}

#lblPacientesV{
	font-family: 'Nunito', sans-serif;
	margin-left: 5%;
	margin-top: 1%;
	font-size: 14px;
}

#lblPacientesE{
	font-family: 'Nunito', sans-serif;
	margin-left: 5%;
	margin-top: 1%;
	font-size: 14px;
}

#lblPacientesD{
	font-family: 'Nunito', sans-serif;
	margin-left: 5%;
	margin-top: 1%;
	font-size: 14px;
}

#selectPacienteV {	
	font-size: 13px;
	width: 260px;
	height: 27px;
	padding: 1px;
	margin-top: 0.5%;
}

#selectPacienteE {	
	font-size: 13px;
	width: 250px;
	height: 30px;
	padding: 1px;
	margin-top: 1%;
}
#selectPacienteD {	
	font-size: 13px;
	width: 260px;
	height: 30px;
	padding: 1px;
	margin-top: 1%;
}

#lblFechaD, #lblFecha, #lblLab, #lblProductoDes, #lblProducto, #lblProductoDespa, #lblLoteD, #lblPeso, #lblProducto, 
#lblLote, #lblPeso, #lblPrecio, #lblPrecioD, #lblFechaCadD, #lblFechaCad, #lblCitaP, #lblFechaCita, #lblHoraCita, 
#lblPesoD, #lblCantidad, #lblCantidadD, #lblFechaCitaD, #lblHoraCitaD, #lblCitaPD, #lblVacAnter, #lblDespAnt, #lblEctoAnt {
	font-size: 13px;
}

.boton {
    padding: 3px;
    font-size: 14px;
}

.botonAtrasVG {
    padding: 5px;
    font-size:14px;
    margin-top: 1%;
    border-radius: 6px;
    width: 12%;
    border: 1px solid #0016b0;
}

#inputAnter{
	font-size: 12px;
	width:15px;
	height:15px;
}

.botonAtrasDG, .botonAtrasEctoG {
   padding: 5px;
    font-size:14px;
    margin-top: 1%;
    border-radius: 6px;
    width: 12%;
    border: 1px solid #0016b0;
}

#div_atrasV {
	height: 50px;
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: row;
	align-content: center;
	align-items: center;
	justify-content: center;
}
}

@media(min-width: 360px) and (max-width: 410px){
.container {
	height: 510px;
	}

.container_Desp {
	height: 500px;
}

.container_ecto {
	height: 500px;
}

.form-leftV {
	height: 480px;
	width: 50%;
}

#inputAnter{
	font-size: 12px;
	width:15px;
	height:15px;
}

.form-rightV {
	height: 480px;
	width: 50%;
}

.form-rightD {
	height: 465px;
}

.form-leftD {
	height: 465px;
}

.form-rightE {
	height: 470px;
}

.form-leftE {
	height: 470px;
}

/*Titulo pagina*/
#titulo-pagina, #titulo-paginaE {
	margin-top: 10px;
	font-size: 18px;
	color:white;
	text-align: center;
}

/*Inputs*/

#inputfecha, #inputFechaD, #inputLab, #inputProducto, #inputLoteVac, #inputPrecioVac, #inputFechaCad, 
#inputFechaCadD, #inputPeso, #inputProxima, #inputPesoD, #inputCantidad, #inputCantidadD, #inputProductoD, #inputHoraCita,
#motivoCita, #fechaCita, #inputLote, #inputLoteD, #inputPrecio, #inputPrecioD, #inputHoraCitaD, #fechaCitaD, #inputLoteEcto {
	font-size: 9.5px;
	width: 140px;
	height: 25px;
	padding: 1px;
}

#inputProductoDespa, #inputProductoDesp{
	font-size: 9px;
	width: 140px;
	height: 25px;
	padding: 1px;
}

#inputProductoE, #inputLoteEcto, #inputFechaCadE, #inputPrecioE, #inputFechaE, #inputHoraCitaE,
 #fechaCitaE, #motivoCitaE{
	font-family: 'Nunito', sans-serif;
	font-size: 10px;	
	width: 130px;
	height: 25px;
	padding: 1px;
}

#inputProximaE {
	font-family: 'Nunito', sans-serif;
	font-size: 9px;	
	width: 130px;
	height: 25px;
	padding: 1px;	
}
#inputLote, #inputPrecio{
	font-size: 11px;
	width: 140px;
	height: 25px;
	padding: 1px;
}

#inputCitaP{
	font-family: 'Nunito', sans-serif;
	font-size: 11px;
	width:15px;
	margin-left: 5px;
	height:15px;
}

#selectProxima{
	font-family: 'Nunito', sans-serif;
	font-size: 11px;
	width:140px;
	height:40px;
}

#lblPacientesV{
	font-family: 'Nunito', sans-serif;
	margin-left: 5%;
	margin-top: 2%;
	font-size: 13px;
}

#lblPacientesD{
	font-family: 'Nunito', sans-serif;
	margin-left: 5%;
	margin-top: 2%;
	font-size: 13px;
}

#selectPacienteV {	
	font-size: 11px;
	width: 240px;
	height: 25px;
	padding: 1px;
	margin-top: 1%;
}

#lblPacientesE{
	font-family: 'Nunito', sans-serif;
	margin-left: 5%;
	margin-top: 2%;
	font-size: 13px;
}

#selectPacienteE {	
	font-size: 11px;
	width: 210px;
	height: 25px;
	padding: 1px;
	margin-top: 1%;
}

#selectPacienteD {	
	font-size: 11px;
	width: 240px;
	height: 25px;
	padding: 1px;
	margin-top: 1%;
}

#lblFechaD, #lblFecha, #lblLab, #lblProductoDes, #lblProducto, #lblProductoDespa, #lblLoteD, #lblPeso, #lblProducto, 
#lblLote, #lblPeso, #lblPrecio, #lblPrecioD, #lblFechaCadD, #lblFechaCad, #lblCitaP, #lblFechaCita, #lblHoraCita, 
#lblPesoD, #lblCantidad, #lblCantidadD, #lblFechaCitaD, #lblHoraCitaD, #lblCitaPD, #lblVacAnter, #lblEctoAnt {
	font-size: 13px;
}

#lblDespAnt {
	font-size: 11px;
}

#lblPesoD,#lblCantidad {
	font-size: 13px;
}

#despAnt {
	height:13px; 
	width:13px; 
}
.boton {
    padding: 6px;
    font-size: 11px;
}

.botonAtrasVG, .botonAtrasEctoG {
    padding: 5px;
    font-size: 11px;
    margin-top: 1%;
    border-radius: 6px;
    width: 12%;
    border: 1px solid #0016b0;
}

.botonAtrasDG {
    padding: 5px;
    font-size:11px;
    margin-top: 1%;
    width: 12%;
}


#div_atrasV {
	height: 50px;
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: row;
	align-content: center;
	align-items: center;
	justify-content: center;
}
}


@media(max-width: 359px){
.container {
	height: 480px;
	}

.container_Desp {
	height: 480px;
}

.container_ecto {
	height: 480px;
}

#inputAnter{
	font-size: 12px;
	width:15px;
	height:15px;
}
.form-leftV {
	height: 453px;
	width: 50%;
}

.form-rightV {
	height: 453px;
	width: 50%;
}

.form-rightD {
	height: 450px;
}

.form-leftD {
	height: 450px;
}

.form-rightE {
	height: 453px;
}

.form-leftE {
	height: 453px;
}
/*Titulo pagina*/
#titulo-pagina, #titulo-paginaE {
	margin-top: 25px;
	font-size: 15px;
	color:white;
	text-align: center;
}

/*Inputs*/

#selectPacienteD {	
	font-size: 11px;
	width: 200px;
	height: 23px;
	padding: 1px;
	border-radius: 9px;
	margin-top: 1%;
}


#inputfecha, #inputFechaD, #inputLab, #inputProducto, #inputLoteVac, #inputPrecioVac, #inputFechaCad, #inputPeso, 
#inputProxima, #inputPesoD, #inputCantidad, #inputCantidadD, #inputProductoD, #inputHoraCita, #inputFechaCadD, #inputPrecioD,
#motivoCita, #fechaCita, #inputLote, #inputLoteD, #inputPrecio, #inputCantidadD, #inputHoraCitaD, #fechaCitaD, #inputLoteEcto {
	font-size: 9px;
	width: 130px;
	height: 20px;
	padding: 1px;
}

#inputProductoDespa, #inputProductoDesp{
	font-size: 8px;
	width: 130px;
	height: 20px;
	padding: 1px;
}

#inputCitaP {
	height: 11px;
	height: 11px;
	font-size: 11px;
}

#inputProductoE, #inputLoteEcto, #inputFechaCadE, #inputPrecioE, #inputFechaE, #inputProximaE, #inputHoraCitaE,
 #fechaCitaE, #motivoCitaE{
 	font-size: 9px;
	width: 120px;
	height: 20px;
	padding: 1px;
}


#ectoAnt {
	height: 12px;
	width: 12px;
}

#selectProxima{
	font-family: 'Nunito', sans-serif;
	font-size: 9px;
	width:300px;
	height:40px;
}

#lblPacientesV, #lblPacientesD, #lblPacientesE{
	font-family: 'Nunito', sans-serif;
	margin-left: 10%;
	margin-top: 2%;
	font-size: 11px;
}

#selectPacienteV {	
	font-size: 9px;
	width: 200px;
	height: 20px;
	padding: 0px;
	margin-top: 1%;
}

 #selectPacienteE {
 	font-size: 9px;
	width: 160px;
	height: 20px;
	padding: 0px;
	margin-top: 1%;
 }


#lblFecha, #lblFechaD, #lblLab, #lblProducto, #lblProductoDes, #lblProductoDespa, #lblLote, #lblLoteD, #lblFechaCadD,
 #lblPeso, #lblProducto, #lblPeso, #lblPrecio, #lblFechaCad, #lblCitaP, #lblFechaCita, #lblHoraCita, #lblPesoD, #lblCantidad,
 #lblFechaCitaD, #lblHoraCitaD, #lblCitaPD, #lblVacAnter, #ectoAnt, #lblDespAnt, #lblPrecioD, #lblCantidadD, #lblEctoAnt {
	font-size: 11px;
}

#lblCitaP {
	font-size: 10px;
}

.boton {
    padding: 3px;
    font-size: 9px;
}

.botonAtrasVG {
	font-family: 'Nunito', sans-serif;
	text-decoration: none;
    padding: 5px;
    font-size: 11px;
    margin-top: 1%;
    border-radius: 6px;
    width: 12%;
    border: 1px solid #0016b0;
}

.botonAtrasDG, .botonAtrasEctoG {
    padding: 5px;
    font-size:11px;
    margin-top: 1%;
    width: 12%;
}

#div_atrasV {
	height: 50px;
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: row;
	align-content: center;
	align-items: center;
	justify-content: center;
}
}
